<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>免费企业咨询</title>
	<link rel="stylesheet" type="text/css" href="../../static/website/css/page/companyConsulting.css"></head>
<body>
	<div class="hhnt_login_reg_box">
		<div class="center">
			<div class="hhnt_login_reg"> <i class="iconfont icon-noregtouxiang"></i>
				<a href="#" class="hhnt_login">登录</a>
				<a href="#" class="hhnt_reg">立即注册</a>
			</div>
		</div>
	</div>
	<div class="menu_top_box">
		<div class="center clearfix">
			<img src="../../static/website/image/logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li ><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="menu_box_more">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li class="active"><a href="#">免费企业咨询</a></li>
			</ul>
		</div>
	</div>
	<div class="center">
		<div class="search_wrap moudle_shadow company_search_box">
			<div class="search_input">
				<input type="text" placeholder="请输入人才关键字，多个关键字空格隔开">
				<a href="javascript:;"> <i class="iconfont icon-sousuo"></i>
				</a>
				<div class="search_show" style="display: none;">
					<div class="table">
						<div class="tal vat">
							<ul class="">
								<li class="">
									<span>软件工程师</span>
									<span>
										共
										<span>56</span>
										个职位
									</span>
								</li>
								<li class="">
									<span>软件测试</span>
									<span>
										共
										<span>56</span>
										个职位
									</span>
								</li>
							</ul>
						</div>
						<span>职位</span>
					</div>
					<div class="table">
						<div class="tal vat">
							<ul>
								<li class="">
									<span>软通动力</span>
									<span>
										共
										<span>56</span>
										个职位
									</span>
								</li>
								<li class="">
									<span>软件科技</span>
									<span>
										共
										<span>56</span>
										个职位
									</span>
								</li>
								<li class="">
									<span>软通动力</span>
									<span>
										共
										<span>56</span>
										个职位
									</span>
								</li>
								<li>
									<span>软件科技</span>
									<span>
										共
										<span>56</span>
										个职位
									</span>
								</li>
							</ul>
						</div>
						<span>公司</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="center hhnt_content">

		<div class="filter_module">
			<div class="fm_type_04">
				<span class="fm_name">服务项目：</span>
				<div class="common_item">
					<a class="active for_all" href="javascript:;">不限</a>
					<a class="" href="javascript:;">人力资源管理咨询</a>
					<a href="javascript:;">猎聘合作咨询</a>
					<a href="javascript:;">制药/医疗</a>
					<a href="javascript:;">悬赏合作咨询</a>
				</div>
			</div>
			<div class="fm_type_01">
				<span class="fm_name">擅长行业：</span>
				<div class="fm_industry">
					<div class="industry_item">
						<a class="active for_all" href="javascript:;">不限</a>
						<a class="" href="javascript:;">互联网/IT/通信<i></i></a>
						<a href="javascript:;">交通/贸易/物流<i></i></a>
						<a href="javascript:;">制药/医疗<i></i></a>
						<a href="javascript:;">广告/传媒/教育/文化<i></i></a>
						<a href="javascript:;">房地产/建筑/物业<i></i></a>
					</div>
					<div class="industry_item">
						<a href="javascript:;">政府/农林/牧渔<i></i></a>
						<a href="javascript:;">互联网/IT/通信<i></i></a>
						<a href="javascript:;">交通/贸易/物流<i></i></a>
						<a href="javascript:;">制药/医疗<i></i></a>
						<a href="javascript:;">广告/传媒/教育/文化<i></i></a>
						<a href="javascript:;">房地产/建筑/物业<i></i></a>
					</div>
					<div class="item_detail industry_item_detail">
						<a href="javascript:;">职位名称1</a>
						<a href="javascript:;">职位名称2</a>
						<a href="javascript:;">职位名称3</a>
					</div>
				</div>
				<!-- <a class="active show_temp show_temp_01" href="javascript:;">政府/农林/牧渔1</a> -->
				<span class="for_more for_more_01"><span>更多</span><i></i></span>
			</div>
			<div class="fm_type_03">
				<span class="fm_name">所在地市：</span>
				<div class="fm_city">
					<div class="default_item">
						<a class="active for_all" href="javascript:;">不限</a>
						<a class="" href="javascript:;">北京</a>
						<a class="" href="javascript:;">上海</a>
						<a class="" href="javascript:;">广州</a>
						<a class="" href="javascript:;">深圳</a>
						<a class="" href="javascript:;">苏州</a>
						<a class="" href="javascript:;">杭州</a>
					</div>
					<div class="city_item">
						<span>ABCDE</span>
						<a class="" href="javascript:;">北京<i></i></a>
						<a class="" href="javascript:;">上海<i></i></a>
						<a class="" href="javascript:;">广州<i></i></a>
						<a class="" href="javascript:;">深圳<i></i></a>
						<a class="" href="javascript:;">苏州<i></i></a>
						<a class="" href="javascript:;">杭州<i></i></a>
					</div>
					<div class="city_item">
						<span>ABCDE</span>
						<a class="" href="javascript:;">北京<i></i></a>
						<a class="" href="javascript:;">上海<i></i></a>
						<a class="" href="javascript:;">广州<i></i></a>
						<a class="" href="javascript:;">深圳<i></i></a>
						<a class="" href="javascript:;">苏州<i></i></a>
						<a class="" href="javascript:;">杭州<i></i></a>
					</div>
					<div class="item_detail city_item_detail">
						<a href="javascript:;">城市1</a>
						<a href="javascript:;">城市2</a>
						<a href="javascript:;">城市3</a>
					</div>
				</div>
				<!-- <a class="active show_temp show_temp_02" href="javascript:;">上海</a> -->
				<span class="for_more for_more_03"><span>更多</span><i></i></span>
			</div>
			<div class="fm_type_04">
				<span class="fm_name">工作经验：</span>
				<div class="common_item">
					<a class="active for_all" href="javascript:;">不限</a>
					<a class="" href="javascript:;">应届生</a>
					<a href="javascript:;">1年</a>
					<a href="javascript:;">1-3年</a>
					<a href="javascript:;">5-8年</a>
					<a href="javascript:;">8-10年</a>
					<a href="javascript:;">10年以上</a>
				</div>
			</div>
		</div>
		<!-- end -->
	<dl class="search_list_box">
		<dt class="search_typeAndOrder">
			<label class="title">
				共有 <em>48</em>
				名经纪人
			</label>
			<ul class="list clearfix">
				<li>综合排序&nbsp;↓</li>
				<li>等级&nbsp;↓</li>
				<li>服务评价&nbsp;↓</li>
				<li>响应速度&nbsp;↓</li>
				<li class="last">工作经验&nbsp;↓</li>
			</ul>
			<div class="flip_box">
				<i class="iconfont icon-jiantouzuo"></i>
				<span> <em>1</em>
					/4
				</span>
				<i class="iconfont icon-jiantouyou"></i>
			</div>
		</dt>
		<dd class="search_list">
			<ul>
				<li>
					<div class="clearfix">
						<div class="l">
							<a href="#">
								<img src="../../static/website/image/www_03.jpg" ></a>
							<span class="v">v</span>
						</div>
						<div class="c">
							<div class="t">
								<a href="#">
									<a href="#"> <strong>李清</strong>
									</a>
								</a>
								南昌市 ｜ 五年以上
								<span class="level">LV4</span>
							</div>
							<p>服务项目：人力资源管理咨询、猎聘合作咨询</p>
							<div class="b">
								已接受
								<em>23</em>
								份委托简历
							</div>
						</div>
						<div class="r">
							<div class="r_t">
								好评率：
								<span class="rate">80%</span>
								（评价26条）
							</div>
							<div>
								响应时间：
								<em>3天以上</em>
								（服务人次：110人）
							</div>
						</div>
						<div class="r1">
							<div class="t">
								<i class="iconfont icon-dianhua"></i>
								400-666-4846 转801
							</div>
							<div class="b">
								<a href="#">
									<em>+</em>
									关注
								</a>
								<a href="#">
									<em class="iconfont icon-sixindianshang"></em>
									私信
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="clearfix">
						<div class="l">
							<a href="#">
								<img src="../../static/website/image/www_03.jpg" ></a>
							<span class="v">v</span>
						</div>
						<div class="c">
							<div class="t">
								<a href="#"> <strong>李清</strong>
								</a>
								南昌市 ｜ 五年以上
								<span class="level">LV4</span>
							</div>
							<p>服务项目：人力资源管理咨询、猎聘合作咨询</p>
							<div class="b">
								已接受
								<em>23</em>
								份委托简历
							</div>
						</div>
						<div class="r">
							<div class="r_t">
								好评率：
								<span class="rate">80%</span>
								（评价26条）
							</div>
							<div>
								响应时间：
								<em>3天以上</em>
								（服务人次：110人）
							</div>
						</div>
						<div class="r1">
							<div class="t">
								<i class="iconfont icon-dianhua"></i>
								400-666-4846 转801
							</div>
							<div class="b">
								<a href="#">
									<em>+</em>
									关注
								</a>
								<a href="#">
									<em class="iconfont icon-sixindianshang"></em>
									私信
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="clearfix">
						<div class="l">
							<a href="#">
								<img src="../../static/website/image/www_03.jpg" ></a>
							<span class="v">v</span>
						</div>
						<div class="c">
							<div class="t">
								<a href="#">
									<strong>李清</strong>
								</a>
								南昌市 ｜ 五年以上
								<span class="level">LV4</span>
							</div>
							<p>服务项目：人力资源管理咨询、猎聘合作咨询</p>
							<div class="b">
								已接受
								<em>23</em>
								份委托简历
							</div>
						</div>
						<div class="r">
							<div class="r_t">
								好评率：
								<span class="rate">80%</span>
								（评价26条）
							</div>
							<div>
								响应时间：
								<em>3天以上</em>
								（服务人次：110人）
							</div>
						</div>
						<div class="r1">
							<div class="t">
								<i class="iconfont icon-dianhua"></i>
								400-666-4846 转801
							</div>
							<div class="b">
								<a href="#">
									<em>+</em>
									关注
								</a>
								<a href="#">
									<em class="iconfont icon-sixindianshang"></em>
									私信
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="clearfix">
						<div class="l">
							<a href="#">
								<img src="../../static/website/image/www_03.jpg" ></a>
							<span class="v">v</span>
						</div>
						<div class="c">
							<div class="t">
								<a href="#">
									<strong>李清</strong>
								</a>
								南昌市 ｜ 五年以上
								<span class="level">LV4</span>
							</div>
							<p>服务项目：人力资源管理咨询、猎聘合作咨询</p>
							<div class="b">
								已接受
								<em>23</em>
								份委托简历
							</div>
						</div>
						<div class="r">
							<div class="r_t">
								好评率：
								<span class="rate">80%</span>
								（评价26条）
							</div>
							<div>
								响应时间：
								<em>3天以上</em>
								（服务人次：110人）
							</div>
						</div>
						<div class="r1">
							<div class="t">
								<i class="iconfont icon-dianhua"></i>
								400-666-4846 转801
							</div>
							<div class="b">
								<a href="#">
									<em>+</em>
									关注
								</a>
								<a href="#">
									<em class="iconfont icon-sixindianshang"></em>
									私信
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="clearfix">
						<div class="l">
							<a href="#">
								<img src="../../static/website/image/www_03.jpg" ></a>
							<span class="v">v</span>
						</div>
						<div class="c">
							<div class="t">
								<a href="#">
									<strong>李清</strong>
								</a>
								南昌市 ｜ 五年以上
								<span class="level">LV4</span>
							</div>
							<p>服务项目：人力资源管理咨询、猎聘合作咨询</p>
							<div class="b">
								已接受
								<em>23</em>
								份委托简历
							</div>
						</div>
						<div class="r">
							<div class="r_t">
								好评率：
								<span class="rate">80%</span>
								（评价26条）
							</div>
							<div>
								响应时间：
								<em>3天以上</em>
								（服务人次：110人）
							</div>
						</div>
						<div class="r1">
							<div class="t">
								<i class="iconfont icon-dianhua"></i>
								400-666-4846 转801
							</div>
							<div class="b">
								<a href="#">
									<em>+</em>
									关注
								</a>
								<a href="#">
									<em class="iconfont icon-sixindianshang"></em>
									私信
								</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="clearfix">
						<div class="l">
							<a href="#">
								<a href="#">
									<img src="../../static/website/image/www_03.jpg" ></a>
							</a>
							<span class="v">v</span>
						</div>
						<div class="c">
							<div class="t">
								<a href="#">
									<strong>李清</strong>
								</a>
								南昌市 ｜ 五年以上
								<span class="level">LV4</span>
							</div>
							<p>服务项目：人力资源管理咨询、猎聘合作咨询</p>
							<div class="b">
								已接受
								<em>23</em>
								份委托简历
							</div>
						</div>
						<div class="r">
							<div class="r_t">
								好评率：
								<span class="rate">80%</span>
								（评价26条）
							</div>
							<div>
								响应时间：
								<em>3天以上</em>
								（服务人次：110人）
							</div>
						</div>
						<div class="r1">
							<div class="t">
								<i class="iconfont icon-dianhua"></i>
								400-666-4846 转801
							</div>
							<div class="b">
								<a href="#">
									<em>+</em>
									关注
								</a>
								<a href="#">
									<em class="iconfont icon-sixindianshang"></em>
									私信
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</dd>
		<dd>
			<!-- 分页按钮组 -->
			<div class="pagination_group">
				<ul class="clearfix">
					<li class="prev_page">
						<a href="javascript:;">上一页</a>
					</li>
					<li class="active">
						<a href="javascript:;">1</a>
					</li>
					<li>
						<a href="javascript:;">2</a>
					</li>
					<li>
						<a href="javascript:;">3</a>
					</li>
					<li class="ellipsis">···</li>
					<li>
						<a href="javascript:;">20</a>
					</li>
					<li class="next_page">
						<a href="javascript:;">下一页</a>
					</li>
				</ul>
				<div>
					<span>跳转至</span>
					<input type="text" />
					<span>页</span>
					<input type="button" value="确定" />
				</div>
			</div>
		</dd>
	</dl>
</div>
<div class="bottom">
		<div class="center">
			<div class="weixin">
				<img src="../../static/website/image/index_07.png" alt="关注微信">
				<p>扫一扫关注我们</p>
			</div>
			<div class="weibo">
				<img src="../../static/website/image/weibo.png" alt="关注微博">
				<p>关注我们的微博</p>
			</div>
			<div class="service_telephone">
				<i class="iconfont icon-dianhua"></i>
				<em>客服电话</em> <strong>400-666-4846</strong>
			</div>
			<div class="friend_link">
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#" class="clear_rborder">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
			</div>
			<div class="bottom_menu">
				<div class="bottom_menu_list">
					<a href="#">关于我们</a>
					<a href="#">使用帮助</a>
					<a href="#">用户协议</a>
					<a href="#">友情链接</a>
					<a href="#">知识广场</a>
				</div>
				<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
			</div>
		</div>
	</div>
<script src="../../static/website/js/page/companyConsulting.wmin.js"></script>
</body>
</html>