<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>经纪人引导</title>
	<link rel="stylesheet" type="text/css" href="../../static/website/css/page/headhunterList.css">
</head>
<body>
	<div class="hhnt_login_reg_box">
		<div class="center">
			<div class="hhnt_login_reg"> <i class="iconfont icon-noregtouxiang"></i>
				<a href="#" class="hhnt_login">登录</a>
				<a href="#" class="hhnt_reg">立即注册</a>
			</div>
		</div>
	</div>
	<div class="menu_top_box">
		<div class="center clearfix">
			<img src="../../static/website/image/logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li ><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="menu_box_more">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li class="active"><a href="#">免费企业咨询</a></li>
			</ul>
		</div>
	</div>
	<div class="hhnt_banner">
		<img src="../../static/website/image/HDpicture/hhnt_banner.jpg" alt="" class="m">
		<img src="../../static/website/image/HDpicture/hhnt123.png" alt="" class="m1">
	</div>
	<div class="hhnt_feature_box center clearfix">
		<div class="item"> <i class="iconfont icon-zhuanjiajiangshi"></i>
			<p class="t">职场专家</p>
			<p class="b">邀请人力资本大咖担任服务专家</p>
		</div>
		<div  class="item1">
			<i class="iconfont icon-kefu"></i>
			<p class="t">免费咨询</p>
			<p class="b">为您解答各类人力资源相关问题</p>
		</div>
		<div  class="item2">
			<i class="iconfont icon-guwen"></i>
			<p class="t">专属服务</p>
			<p class="b">根据个人所需线上线下灵活沟通</p>
		</div>
	</div>
	<div class="hhnt_list center clearfix">
		<a  href="#" class="item">
			<img src="../../static/website/image/HDpicture/hnnt_03.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为 <em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a  href="#" class="item">
			<img src="../../static/website/image/HDpicture/hnnt_06.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为 <em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a  href="#" class="item">
			<img src="../../static/website/image/HDpicture/hnnt_07.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a href="#"  class="item">
			<img src="../../static/website/image/HDpicture/hnnt_09.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a  href="#" class="item1">
			<img src="../../static/website/image/HDpicture/hnnt_16.png" alt="杨文娟"></a >
		<a  href="#" class="item">
			<img src="../../static/website/image/HDpicture/hnnt_18.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a href="#"  class="item">
			<img src="../../static/website/image/HDpicture/hnnt_19.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a  href="#" class="item">
			<img src="../../static/website/image/HDpicture/hnnt_24.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a  href="#" class="item">
			<img src="../../static/website/image/HDpicture/hnnt_25.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a  href="#" class="item">
			<img src="../../static/website/image/HDpicture/hnnt_28.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
		<a href="#"  class="item">
			<img src="../../static/website/image/HDpicture/hnnt_29.jpg" alt="杨文娟">
			<div class="name_box">
				<div class="t">
					<span class="name">杨文娟</span>
					<span>高级人力资源师</span>
				</div>
				<div class="b">
					已为
					<em>386</em>
					家企业提供免费咨询
				</div>
			</div>
			<dl class="introduce_box">
				<dt>黄新忠</dt>
				<dd>
					［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
				</dd>
			</dl>
		</a >
	</div>
	<div  class="hhnt_boss_box">
		<div class="slideBox center">
			<div class="bd">
				<h3> <strong>BOSS</strong>
					眼中的怀才当遇
				</h3>
				<ul>
					<li>						
						<div>
							<img src="../../static/website/image/HDpicture/boss.png" alt="王国彬">
							<dl>
								<dt class="c1">肖志峰   绿滋肴集团董事长</dt>
								<dd>
									我是个实在人，我说实在话，我觉得怀才当遇这个网站做得很用心，也很实用，把找工作找人才
和不找工作不找人才都结合起来了，资源最大化操作。
								</dd>
							</dl>
						</div>
					</li>
					<li >
						
						<div>
							<img src="../../static/website/image/HDpicture/boss4.png" alt="">
							<dl>
								<dt class="c2">熊小鹏   博金贷总经理</dt>
								<dd>
									人才经纪人模式有效降低了用人风险和人才流失率，能高校的满足初创企业和新兴行业的用人
需求，怀才当遇不错。
								</dd>
							</dl>
						</div>
					</li>
					<li >
						
						<div>
							<img src="../../static/website/image/HDpicture/boss2.png" alt="">
							<dl>
								<dt class="c3">罗敏   趣分期CEO长</dt>
								<dd>
									人才经纪人这个模式很新颖，让每个人都有“利”可图，充分调动了大家的积极性，值得推荐
和鼓励，怀才当遇不错。
								</dd>
							</dl>
						</div>
					</li>
					<li >
						<div>
							<img src="../../static/website/image/HDpicture/boss1.png" alt="">
							<dl>
								<dt class="c3">王国彬   土巴兔COO</dt>
								<dd>
									怀才当遇网不仅仅是个招聘网站，我个人觉得她更像是私人定制师，为我们全方面的寻找到最
合适的人才或者工作。
								</dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
			<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
			<a class="prev iconfont icon-jiantouzuo" href="javascript:void(0)"></a>
			<a class="next iconfont icon-jiantouyou" href="javascript:void(0)"></a>
		</div>
	</div>
	<div class="bottom">
		<div class="center">
			<div class="weixin">
				<img src="../../static/website/image/index_07.png" alt="关注微信">
				<p>扫一扫关注我们</p>
			</div>
			<div class="weibo">
				<img src="../../static/website/image/weibo.png" alt="关注微博">
				<p>关注我们的微博</p>
			</div>
			<div class="service_telephone">
				<i class="iconfont icon-dianhua"></i>
				<em>客服电话</em>
				<strong>400-666-4846</strong>
			</div>
			<div class="friend_link">
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#" class="clear_rborder">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
			</div>
			<div class="bottom_menu">
				<div class="bottom_menu_list">
					<a href="#">关于我们</a>
					<a href="#">使用帮助</a>
					<a href="#">用户协议</a>
					<a href="#">友情链接</a>
					<a href="#">知识广场</a>
				</div>
				<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
			</div>
		</div>
	</div>
	<script src="../../static/website/js/page/headhunterList.wmin.js"></script>
</body>
</html>