<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
	<title>寻找人才</title>
	<link rel="stylesheet" href="../../static/website/css/page/huntForTalent.css">
</head>
<body>
	<div class="hhnt_login_reg_box">
		<div class="center">
			<div class="hhnt_login_reg"> <i class="iconfont icon-noregtouxiang"></i>
				<a href="#" class="hhnt_login">登录</a>
				<a href="#" class="hhnt_reg">立即注册</a>
			</div>
		</div>
	</div>
	<div class="menu_top_box">
		<div class="center clearfix">
			<img src="../../static/website/image/logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li class="active"><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="menu_box_more">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li><a href="#">免费企业咨询</a></li>
			</ul>
		</div>
	</div>

	<!-- 中间内容 start -->
	<div class="center">
		<div class="search_wrap moudle_shadow">
			<div class="search_input">
				<input type="text" placeholder="请输入人才关键字，多个关键字空格隔开"/>
				<a href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
				<div class="search_show">
					<div class="table">
						<div class="tal vat">
							<ul class="">
								<li><span>软件工程师</span><span>共<span>56</span>个职位</span></li>
								<li><span>软件测试</span><span>共<span>56</span>个职位</span></li>
							</ul>
						</div>
						<span>职位</span>
					</div>
					<div class="table">
						<div class="tal vat">
							<ul>
								<li><span>软通动力</span><span>共<span>56</span>个职位</span></li>
								<li><span>软件科技</span><span>共<span>56</span>个职位</span></li>
								<li><span>软通动力</span><span>共<span>56</span>个职位</span></li>
								<li><span>软件科技</span><span>共<span>56</span>个职位</span></li>
							</ul>
						</div>
						<span>公司</span>
					</div>
				</div>
			</div>
		</div>
		<div class="all_results moudle_shadow">
			
			<div class="filter_module">
				<div class="fm_type_01">
					<span class="fm_name">所属行业：</span>
					<div class="fm_industry">
						<div class="industry_item">
							<a class="active for_all" href="javascript:;">不限</a>
							<a class="" href="javascript:;">互联网/IT/通信<i></i></a>
							<a href="javascript:;">交通/贸易/物流<i></i></a>
							<a href="javascript:;">制药/医疗<i></i></a>
							<a href="javascript:;">广告/传媒/教育/文化<i></i></a>
							<a href="javascript:;">房地产/建筑/物业<i></i></a>
						</div>
						<div class="industry_item">
							<a href="javascript:;">政府/农林/牧渔<i></i></a>
							<a href="javascript:;">互联网/IT/通信<i></i></a>
							<a href="javascript:;">交通/贸易/物流<i></i></a>
							<a href="javascript:;">制药/医疗<i></i></a>
							<a href="javascript:;">广告/传媒/教育/文化<i></i></a>
							<a href="javascript:;">房地产/建筑/物业<i></i></a>
						</div>
						<div class="item_detail industry_item_detail">
							<a href="javascript:;">职位名称1</a>
							<a href="javascript:;">职位名称2</a>
							<a href="javascript:;">职位名称3</a>
						</div>
					</div>
					<!-- <a class="active show_temp show_temp_01" href="javascript:;">政府/农林/牧渔1</a> -->
					<span class="for_more for_more_01"><span>更多</span><i></i></span>
				</div>
				<div class="fm_type_02">
					<span class="fm_name">期望地点：</span>
					<div class="fm_city">
						<div class="default_item">
							<a class="active for_all" href="javascript:;">不限</a>
							<a class="" href="javascript:;">北京</a>
							<a class="" href="javascript:;">上海</a>
							<a class="" href="javascript:;">广州</a>
							<a class="" href="javascript:;">深圳</a>
							<a class="" href="javascript:;">苏州</a>
							<a class="" href="javascript:;">杭州</a>
						</div>
						<div class="city_item">
							<span>ABCDE</span>
							<a class="" href="javascript:;">北京<i></i></a>
							<a class="" href="javascript:;">上海<i></i></a>
							<a class="" href="javascript:;">广州<i></i></a>
							<a class="" href="javascript:;">深圳<i></i></a>
							<a class="" href="javascript:;">苏州<i></i></a>
							<a class="" href="javascript:;">杭州<i></i></a>
						</div>
						<div class="city_item">
							<span>ABCDE</span>
							<a class="" href="javascript:;">北京<i></i></a>
							<a class="" href="javascript:;">上海<i></i></a>
							<a class="" href="javascript:;">广州<i></i></a>
							<a class="" href="javascript:;">深圳<i></i></a>
							<a class="" href="javascript:;">苏州<i></i></a>
							<a class="" href="javascript:;">杭州<i></i></a>
						</div>
						<div class="item_detail city_item_detail">
							<a href="javascript:;">城市1</a>
							<a href="javascript:;">城市2</a>
							<a href="javascript:;">城市3</a>
						</div>
					</div>
					<!-- <a class="active show_temp show_temp_02" href="javascript:;">上海</a> -->
					<span class="for_more for_more_02"><span>更多</span><i></i></span>
				</div>
				<div class="fm_type_03">
					<span class="fm_name">所在地市：</span>
					<div class="fm_city">
						<div class="default_item">
							<a class="active for_all" href="javascript:;">不限</a>
							<a class="" href="javascript:;">北京</a>
							<a class="" href="javascript:;">上海</a>
							<a class="" href="javascript:;">广州</a>
							<a class="" href="javascript:;">深圳</a>
							<a class="" href="javascript:;">苏州</a>
							<a class="" href="javascript:;">杭州</a>
						</div>
						<div class="city_item">
							<span>ABCDE</span>
							<a class="" href="javascript:;">北京<i></i></a>
							<a class="" href="javascript:;">上海<i></i></a>
							<a class="" href="javascript:;">广州<i></i></a>
							<a class="" href="javascript:;">深圳<i></i></a>
							<a class="" href="javascript:;">苏州<i></i></a>
							<a class="" href="javascript:;">杭州<i></i></a>
						</div>
						<div class="city_item">
							<span>ABCDE</span>
							<a class="" href="javascript:;">北京<i></i></a>
							<a class="" href="javascript:;">上海<i></i></a>
							<a class="" href="javascript:;">广州<i></i></a>
							<a class="" href="javascript:;">深圳<i></i></a>
							<a class="" href="javascript:;">苏州<i></i></a>
							<a class="" href="javascript:;">杭州<i></i></a>
						</div>
						<div class="item_detail city_item_detail">
							<a href="javascript:;">城市1</a>
							<a href="javascript:;">城市2</a>
							<a href="javascript:;">城市3</a>
						</div>
					</div>
					<!-- <a class="active show_temp show_temp_02" href="javascript:;">上海</a> -->
					<span class="for_more for_more_03"><span>更多</span><i></i></span>
				</div>
				<div class="fm_type_04">
					<span class="fm_name">年薪范围：</span>
					<div class="common_item">
						<a class="active for_all" href="javascript:;">不限</a>
						<a class="" href="javascript:;">8万以下</a>
						<a href="javascript:;">15-20万</a>
						<a href="javascript:;">20-25万</a>
						<a href="javascript:;">25-30万</a>
						<a href="javascript:;">30-40万</a>
						<a href="javascript:;">40-50万</a>
						<a href="javascript:;">50-100万</a>
						<a href="javascript:;">100万以上</a>
					</div>
				</div>
				<div class="fm_type_04">
					<span class="fm_name">工作经验：</span>
					<div class="common_item">
						<a class="active for_all" href="javascript:;">不限</a>
						<a class="" href="javascript:;">应届生</a>
						<a href="javascript:;">1年</a>
						<a href="javascript:;">1-3年</a>
						<a href="javascript:;">5-8年</a>
						<a href="javascript:;">8-10年</a>
						<a href="javascript:;">10年以上</a>
					</div>
				</div>
			</div>

			<div class="result_list">
				<div class="select-filter">
					<span>共为您找到<span class="nc01">1234</span>份简历</span>
					<div class="select_style select_test_01"></div>
					<div class="select_style select_test_02"></div>
					<div class="select_range">
						<a href="javascript:;">年龄范围</a>
						<div>
							<input class="range-slider" type="hidden" value="18,48"/>
							<button id="get_range" class="get_range">确定</button>
						</div>
					</div>
					<div class="select_style select_test_03"></div>
					<div class="simpile_pagi">
						<i class="iconfont icon-jiantouzuo"></i>
						<span><span class="nc01">1</span>/<span class="nc02">4</span></span>
						<i class="iconfont icon-jiantouyou"></i>
					</div>
				</div>
				<div class="resume_list">
					<!-- 第1条记录 -->
					<div>
						<div class="resume_item table">
							<div class="resume_pic"><img src="../../static/website/image/temp/userIcon.png" /></div>
							<div class="resume_info tal">
								<div class="ri_01">
									<span class="span01">苏旭</span>
									<span class="span02">
										<span>男</span>|<span>南昌市</span>|<span>五年以上</span>|<span>本科</span>|<span>28岁</span>
									</span>
									<span class="span03">更新时间：<span>2016-04-02</span></span>
								</div>
								<div class="ri_02">
									<span>毕业院校：</span>
									<div>
										<span>南昌大学</span>
										<span>计算机科学与技术</span>
									</div>
								</div>
								<div class="ri_03">
									<span>工作经历：</span>
									<div>
										<p>
											<span>2014.09-至今</span>|<span>某互联网公司</span>|<span>产品经理</span>
										</p>
										<p>
											<span>2010.02-2014.08</span>|<span>某互联网公司</span>|<span>产品经理</span>
										</p>
									</div>
								</div>
								<div class="ri_04">
									<span>个人标签：</span>
									<div>
										<span>80后</span>
										<span>爱音乐</span>
										<span>爱运动</span>
									</div>
								</div>
								<div class="user_opr">
									<a href="javascript:;"><i class="iconfont icon-zhuanfa"></i><span>转发</span></a>
									<a href="javascript:;"><i class="iconfont icon-shoucang"></i><span>收藏</span></a>
								</div>
								<span class="user-type">经纪人</span>
							</div>	
						</div>
					</div>
					<!-- 第2条记录 -->
					<div>
						<div class="resume_item table">
							<div class="resume_pic"><img src="../../static/website/image/temp/userIcon.png" /></div>
							<div class="resume_info tal">
								<div class="ri_01">
									<span class="span01">苏旭</span>
									<span class="span02">
										<span>男</span>|<span>南昌市</span>|<span>五年以上</span>|<span>本科</span>|<span>28岁</span>
									</span>
									<span class="span03">更新时间：<span>2016-04-02</span></span>
								</div>
								<div class="ri_02">
									<span>毕业院校：</span>
									<div>
										<span>南昌大学</span>
										<span>计算机科学与技术</span>
									</div>
								</div>
								<div class="ri_03">
									<span>工作经历：</span>
									<div>
										<p>
											<span>2014.09-至今</span>|<span>某互联网公司</span>|<span>产品经理</span>
										</p>
										<p>
											<span>2012.02-2014.08</span>|<span>某互联网公司2</span>|<span>产品经理</span>
										</p>
										<p>
											<span>2010.02-2012.08</span>|<span>某互联网公司1</span>|<span>产品经理</span>
										</p>
									</div>
								</div>
								<div class="ri_04">
									<span>个人标签：</span>
									<div>
										<span>80后</span>
										<span>爱音乐</span>
										<span>爱运动</span>
									</div>
								</div>
								<div class="user_opr">
									<a href="javascript:;"><i class="iconfont icon-zhuanfa"></i><span>转发</span></a>
									<a href="javascript:;"><i class="iconfont icon-shoucang"></i><span>收藏</span></a>
								</div>
								<span class="user-type">经纪人</span>
							</div>	
						</div>
					</div>
				</div>
				<!-- 分页按钮组 -->
				<div class="pagination_group">
					<ul class="clearfix">
						<li class="prev_page"><a href="javascript:;">上一页</a></li>
						<li class="active"><a href="javascript:;">1</a></li>
						<li><a href="javascript:;">2</a></li>
						<li><a href="javascript:;">3</a></li>
						<li class="ellipsis">···</li>
						<li><a href="javascript:;">20</a></li>
						<li class="next_page"><a href="javascript:;">下一页</a></li>
					</ul>
					<div>
						<span>跳转至</span>
						<input type="text" />
						<span>页</span>
						<input type="button" value="确定" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 中间内容 end -->

	<div class="bottom">
		<div class="center">
			<div class="weixin">
				<img src="../../static/website/image/index_07.png" alt="关注微信">
				<p>扫一扫关注我们</p>
			</div>
			<div class="weibo">
				<img src="../../static/website/image/weibo.png" alt="关注微博">
				<p>关注我们的微博</p>
			</div>
			<div class="service_telephone">
				<i class="iconfont icon-dianhua"></i>
				<em>客服电话</em> <strong>400-666-4846</strong>
			</div>
			<div class="friend_link">
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#" class="clear_rborder">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
			</div>
			<div class="bottom_menu">
				<div class="bottom_menu_list">
					<a href="#">关于我们</a>
					<a href="#">使用帮助</a>
					<a href="#">用户协议</a>
					<a href="#">友情链接</a>
					<a href="#">知识广场</a>
				</div>
				<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
			</div>
		</div>
	</div>
	<script src="../../static/website/js/page/huntForTalent.wmin.js"></script>
</body>
</html> 