<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>怀才当遇，专注于人力资源服务</title>
	<link rel="stylesheet" type="text/css" href="../../static/website/css/page/index.css"></head>
<body>

	<div class="index_top slideBox" id="slideBox" >
		<div class="hhnt_login_reg_box">
			<div class="center">
				<div class="hhnt_login_reg"> <i class="iconfont icon-noregtouxiang"></i>
					<a href="#" class="hhnt_login">登录</a>
					<a href="#" class="hhnt_reg">立即注册</a>
				</div>
			</div>
		</div>
		<div class="menu_top_box">
			<div class="center clearfix">
				<img src="../../static/website/image/logo.png" alt="怀才当遇" class="logo">
				<ul class="menu_box">
					<li class="active"><a href="#">首页</a></li><li class="menu_box_more">
						<a href="#" class="menu_box_more">搜索职位</a>
						<ul>
							<li><a href="javscript:;">互联网/游戏/软件</a></li>
							<li><a href="javscript:;">房地产/建筑/物业</a></li>
							<li><a href="javscript:;">金融</a></li>
							<li><a href="javscript:;">制造/采购/物流</a></li>
							<li><a href="javscript:;">消费品</a></li>
							<li><a href="javscript:;">政府/农林/牧渔</a></li>
						</ul>
					</li><li><a href="#">找人才</a></li><li><a href="#">免费企业咨询</a></li>
				</ul>
			</div>
		</div>
		<div class="hd">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="bd">
			<ul >
				<li>
					<a href="http://www.SuperSlide2.com" target="_blank">
						<img src="../../static/website/image/HDpicture/banner1.jpg"></a>
				</li>
				<li>
					<a href="http://www.SuperSlide2.com" target="_blank">
						<img src="../../static/website/image/HDpicture/banner2.jpg"></a>
				</li>
				<li>
					<a href="http://www.SuperSlide2.com" target="_blank">
						<img src="../../static/website/image/HDpicture/banner3.jpg"></a>
				</li>
			</ul>
			<div class="index_slider">
						<p class="title">精准、快速、贴心</p>
						<img src="../../static/website/image/slogan.png" alt="">
						<div class="search">
							<div class="select">
								<span id="position1">公司</span><img src="../../static/website/image/icon/sanjiao.png" alt="" class="position1_icon">
								<div class="xiala" style="display: none;">
									<dl>职位</dl>
									<dl>公司</dl>
								</div>
							</div>
							<input class="sousuo" type="text" placeholder="请输入职位关键词:如前端开发等">
							<a href="javascript:void(0)" class="sousuo_btn"> <i class="iconfont icon-sousuo"></i>
							</a>
							<div class="clearfix"></div>
							<dl class="search_show clearfix ">
								<dt>您可能在找</dt>
								<dd>
									产品总监
									<span>
										共 <em>54</em>
										个职位
									</span>
								</dd>
								<dd>
									产品总监
									<span>
										共 <em>54</em>
										个职位
									</span>
								</dd>
								<dd>
									产品总监
									<span>
										共
										<em>54</em>
										个职位
									</span>
								</dd>
								<dd class="last">
									产品总监
									<span>
										共
										<em>54</em>
										个职位
									</span>
								</dd>
							</dl>
						</div>
					</div>
			<!--
			<div class="index_center">
				<div class="login_box">
					<a href="#" class="">登录</a>
					<a href="#" class="">注册</a>
				</div>
				<div class="reg_box active">
					<a class="" href="#">
						<img src="../../static/website/image/login_icon1.png" class="message_icon" alt="消息" >消息</a>
					<a class="" href="#">
						461972323@qq.com
						<i class="iconfont icon-xia1"></i>
					</a>
				</div>
				<div style="clear: both"></div>
				<div class="menu_box clearfix">
					<img src="../../static/website/image/logo.png" alt="怀才当遇，专注于人力资源服务" class="logo">
					<div class="menu">
						<a href="#" class="active index_a menu_a" >首页</a>
						<span class="search_position_a menu_a">
							搜索职位
							<i class="iconfont icon-shangjiantou"></i>
							<dl>
								<a href="#">互联网/游戏/软件</a>
								<a href="#">房地产/建筑/物业</a>
								<a href="#">金融</a>
								<a href="">制造/采购/物流</a>
								<a href="">消费品</a>
								<a href="" class="last">政府/农林/牧渔</a>
							</dl>
						</span>
						<a class="talents_a menu_a" href="#">
							找人才
						</a>
						<a href="#" class="company_a menu_a">
							免费企业咨询
						</a>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
	<ul class="feature_box clearfix">
		<li class="feature_box_li1">
			<p class="t">汇集众多优秀人才</p>
			<p class="b">
				<a href="#">找人才>></a>
			</p>
		</li>
		<li class="feature_box_li2">
			<p class="t">职位真实快速反馈</p>
			<p class="b">
				<a href="#">搜索职位>></a>
			</p>
		</li>
		<li class="feature_box_li3">
			<p class="t">优质经纪人贴心服务</p>
			<p class="b">
				<a href="#">找经纪人>></a>
			</p>
		</li>
		<li class="last feature_box_li4">
			<p class="t">信息认证安全可信</p>
			<p class="b">
				<a href="#">了解更多>></a>
			</p>
		</li>
	</ul>
		<div class="interline why_box">
		<div class="star_headhunter">
			<p class="title">为什么选择我们</p>
			<p class="new_add">
				您的高品质人才服务专家
				<a href="" class="more">更多>></a>
			</p>
		</div>
		<div class="center why_choice_box">
			<a href="#">
				<img src="../../static/website/image/HDpicture/index_03.jpg" alt="">
				<p>让招聘更快更精准</p>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/HDpicture/index_05.jpg" alt="">
				<p>帮助人才实现职业价值</p>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/HDpicture/index_07.jpg" alt="">
				<p>专属的人才经纪人服务</p>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/HDpicture/index_12.jpg" alt="">
				<p>智能匹配</p>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/HDpicture/index_13.jpg" alt="">
				<p>悬赏招聘</p>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/HDpicture/index_15.jpg" alt="">
				<p>定制化招聘服务</p>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
		</div>
	</div>
	<div class="interline active">
		<div class="star_headhunter">
			<p class="title">明星人才经纪人</p>
			<p class="new_add">
				本周新增 <em>210名</em>
				<a href="" class="more">更多>></a>
			</p>
		</div>
		<div class="center star_headhunter_photo">
			<a href="#">
				<img src="../../static/website/image/star_hnnt1.jpg" alt="明星人才经纪人">
				<div class="name_box">
					<div class="t">
						<span class="name">杨文娟</span>
						<span>高级人力资源师</span>
					</div>
					<div class="b">
						已为 <em>386</em>
						家企业提供免费咨询
					</div>
				</div>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/star_hnnt2.jpg" alt="明星人才经纪人">
				<div class="name_box">
					<div class="t">
						<span class="name">杨文娟</span>
						<span>高级人力资源师</span>
					</div>
					<div class="b">
						已为 <em>386</em>
						家企业提供免费咨询
					</div>
				</div>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/star_hnnt3.jpg" alt="明星人才经纪人">
				<div class="name_box">
					<div class="t">
						<span class="name">杨文娟</span>
						<span>高级人力资源师</span>
					</div>
					<div class="b">
						已为 <em>386</em>
						家企业提供免费咨询
					</div>
				</div>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
			<a href="#">
				<img src="../../static/website/image/star_hnnt4.jpg" alt="明星人才经纪人">
				<div class="name_box">
					<div class="t">
						<span class="name">杨文娟</span>
						<span>高级人力资源师</span>
					</div>
					<div class="b">
						已为 <em>386</em>
						家企业提供免费咨询
					</div>
				</div>
				<dl class="introduce_box">
					<dt>黄新忠</dt>
					<dd>
						［32岁，浙江大学EMBA、南昌
					航空大学、南昌理工学院客座教
					授，江西省中小企业电商产业协
					会副会长。曾任先锋软件集团宣
					传部长，江西先锋软件学院校长
					助理兼党政办主任，赣商书院执
					行院长等职。］
					</dd>
				</dl>
			</a>
		</div>
	</div>

	<div class="interline star_company_box">
		<div class="star_company">
			<p class="title">行业名企</p>
			<p class="new_add">
				本周新增
				<em>210名</em>
			</p>
		</div>
		<ul class="company_list moudle_shadow clearfix">
			<li>
				<span>
					<img src="../../static/website/image/companyLogo/1.png" alt="用友"></span>
			</li>
			<li>
				<span>
					<img src="../../static/website/image/companyLogo/2.png" alt="苏宁"></span>
			</li>
			<li>
				<span>
					<img src="../../static/website/image/companyLogo/3.png" alt="绿滋肴"></span>
			</li>
			<li>
				<span>
					<img src="../../static/website/image/companyLogo/4.png" alt="中国银行"></span>
			</li>
			<li>
				<span>
					<img src="../../static/website/image/companyLogo/5.png" alt="煌上煌"></span>
			</li>
			<li>
				<span>
					<img src="../../static/website/image/companyLogo/6.png" alt="万科"></span>
			</li>
			<li class="last">
				<span>
					<img src="../../static/website/image/companyLogo/7.png" alt="方太"></span>
			</li>
			<li class="bd_clear">
				<span>
					<img src="../../static/website/image/companyLogo/8.png" alt="保利地产"></span>
			</li>
			<li class="bd_clear">
				<span>
					<img src="../../static/website/image/companyLogo/9.png" alt="国美电器"></span>
			</li>
			<li class="bd_clear">
				<span>
					<img src="../../static/website/image/companyLogo/10.png" alt="博能集团"></span>
			</li>
			<li class="bd_clear">
				<span>
					<img src="../../static/website/image/companyLogo/11.png" alt="仁和药业"></span>
			</li>
			<li class="bd_clear">
				<span>
					<img src="../../static/website/image/companyLogo/12.png" alt="搜房网"></span>
			</li>
			<li class="bd_clear">
				<span>
					<img src="../../static/website/image/companyLogo/13.png" alt="绿地集团"></span>
			</li>
			<li class="last bd_clear">
				<span>
					<img src="../../static/website/image/companyLogo/14.png" alt="分众传媒"></span>
			</li>
		</ul>
	</div>
	<div class="interline hot_position_wrap active">
		<div class="hot_position">
			<p class="title">热门职位</p>
			<p class="new_add">
				本周新增
				<em>210名</em>
				<a href="" class="more">更多>></a>
			</p>
		</div>
		<ul class="hot_position_list center">
			<li>
				<div class="company_logo">
					<span>
						<img src="../../static/website/image/ls_07.png" alt="ui设计师"></span>
				</div>
				<dl class="position_details">
					<dt class="t">UI设计师</dt>
					<dd class="c">
						<em>30-50万</em>
						北京 ｜ 5年 ｜ 本科
					</dd>
					<dd class="b">发布于：12小时前</dd>
				</dl>
				<dl class="company_name">
					<dt class="t">北京怀才当遇网络科技有限公司</dt>
					<dd class="c">
						移动互联网
						<i>●</i>
						企业服务
					</dd>
					<dd class="b">
						<span>年度双薪</span>
						<span>带薪年假</span>
						<span>年度双薪</span>
						<span>年度双薪</span>
					</dd>
				</dl>
				<img src="../../static/website/image/reword_cy.png" class="position_category"></li>
			<li>
				<div class="company_logo">
					<span>
						<img src="../../static/website/image/ls_03.png" alt="ui设计师"></span>
				</div>
				<dl class="position_details">
					<dt class="t">UI设计师</dt>
					<dd class="c">
						<em>30-50万</em>
						北京 ｜ 5年 ｜ 本科
					</dd>
					<dd class="b">发布于：12小时前</dd>
				</dl>
				<dl class="company_name">
					<dt class="t">北京怀才当遇网络科技有限公司</dt>
					<dd class="c">
						移动互联网
						<i>●</i>
						企业服务
					</dd>
					<dd class="b">
						<span>年度双薪</span>
						<span>带薪年假</span>
						<span>年度双薪</span>
						<span>年度双薪</span>
					</dd>
				</dl>
			
				<img src="../../static/website/image/reword_lt.png" class="position_category"></li>
			<li class="reward_module">
				<div class="company_logo">
					<span>
						<img src="../../static/website/image/ls_07.png" alt="ui设计师"></span>
				</div>
				<dl class="position_details">
					<dt class="t">UI设计师</dt>
					<dd class="c">
						<em>30-50万</em>
						北京 ｜ 5年 ｜ 本科
					</dd>
					<dd class="b">发布于：12小时前</dd>
				</dl>
				<dl class="company_name">
					<dt class="t">北京怀才当遇网络科技有限公司</dt>
					<dd class="c">
						移动互联网
						<i>●</i>
						企业服务
					</dd>
					<dd class="b">
						<span>年度双薪</span>
						<span>带薪年假</span>
						<span>年度双薪</span>
						<span>年度双薪</span>
					</dd>
				</dl>
				<div class="reward_money">
					<p class="t">
						<i>￥</i>
						<span>2000</span>
					</p>
					<p class="b">领取赏金</p>
				</div>
				<img src="../../static/website/image/reword_lt.png" class="position_category"></li>
				<li>
				<div class="company_logo">
					<span>
						<img src="../../static/website/image/ls_07.png" alt="ui设计师"></span>
				</div>
				<dl class="position_details">
					<dt class="t">UI设计师</dt>
					<dd class="c">
						<em>30-50万</em>
						北京 ｜ 5年 ｜ 本科
					</dd>
					<dd class="b">发布于：12小时前</dd>
				</dl>
				<dl class="company_name">
					<dt class="t">北京怀才当遇网络科技有限公司</dt>
					<dd class="c">
						移动互联网
						<i>●</i>
						企业服务
					</dd>
					<dd class="b">
						<span>年度双薪</span>
						<span>带薪年假</span>
						<span>年度双薪</span>
						<span>年度双薪</span>
					</dd>
				</dl>
				<img src="../../static/website/image/reword_lt.png" class="position_category"></li>
		</ul>
	</div>
	<div class="bottom">
		<div class="center">
			<div class="weixin">
				<img src="../../static/website/image/index_07.png" alt="关注微信">
				<p>扫一扫关注我们</p>
			</div>
			<div class="weibo">
				<img src="../../static/website/image/weibo.png" alt="关注微博">
				<p>关注我们的微博</p>
			</div>
			<div class="service_telephone">
				<i class="iconfont icon-dianhua"></i>
				<em>客服电话</em> <strong>400-666-4846</strong>
			</div>
			<div class="friend_link">
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#" class="clear_rborder">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
			</div>
			<div class="bottom_menu">
				<div class="bottom_menu_list">
					<a href="#">关于我们</a>
					<a href="#">使用帮助</a>
					<a href="#">用户协议</a>
					<a href="#">友情链接</a>
					<a href="#">知识广场</a>
				</div>
				<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
			</div>
		</div>
	</div>
	<script src="../../static/website/js/page/index.wmin.js"></script>
</body>
</html>