<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
	<title>行业专场</title>
	<link rel="stylesheet" href="../../static/website/css/page/industrySpecial.css">
</head>
<body>
	<div class="hhnt_login_reg_box">
		<div class="center">
			<div class="hhnt_login_reg"> <i class="iconfont icon-noregtouxiang"></i>
				<a href="#" class="hhnt_login">登录</a>
				<a href="#" class="hhnt_reg">立即注册</a>
			</div>
		</div>
	</div>
	<div class="menu_top_box">
		<div class="center clearfix">
			<img src="../../static/website/image/logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li class="active"><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="menu_box_more">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li><a href="#">免费企业咨询</a></li>
			</ul>
		</div>
	</div>

	<div class="center">

		<div class="industry_special moudle_shadow">
			<!-- 顶部导航 start -->
			<ul class="table nav_top">
				<li class="active">
					<a href="javascript:;">
						<i class="iconfont icon-diannao"></i>
						<span>互联网/游戏/软件</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-fangchan"></i>
						<span>房地产/建筑/物业</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-yongjin"></i>
						<span>金融</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-wuliu"></i>
						<span>制造/采购/物流</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-iconfontxiebao"></i>
						<span>消费品</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-iconfontshape"></i>
						<span>政府/农林/牧渔</span>
					</a>
				</li>
			</ul>
			<!-- 顶部导航 end -->

			<!-- 侧边菜单 + 搜索条 + 图片滑动 start -->
			<div class="industry_detail clearfix">

				<!-- 侧边菜单 -->
				<div class="nav_side_wrap fl">
					<ul class="nav_side">
						<li class="nav_item">
							<dl>
								<dt>技术</dt>
								<dd><a href="javascript:;">前端开发工程师</a></dd>
								<dd><a href="javascript:;">研发工程师</a></dd>
								<dd><a href="javascript:;">架构师</a></dd>
							</dl>
						</li>
						<li class="nav_item">
							<dl>
								<dt>测试/运维</dt>
								<dd><a href="javascript:;">测试经理</a></dd>
								<dd><a href="javascript:;">测试开发</a></dd>
								<dd><a href="javascript:;">系统工程师</a></dd>
							</dl>
						</li>
						<li class="nav_item">
							<dl>
								<dt>运营/产品/设计</dt>
								<dd><a href="javascript:;">运营总监</a></dd>
								<dd><a href="javascript:;">产品总监</a></dd>
								<dd><a href="javascript:;">视觉设计师</a></dd>
							</dl>
						</li>
						<li class="nav_item">
							<dl>
								<dt>测试/运维</dt>
								<dd><a href="javascript:;">测试经理</a></dd>
								<dd><a href="javascript:;">测试开发</a></dd>
								<dd><a href="javascript:;">系统工程师</a></dd>
							</dl>
						</li>
						<li class="nav_item">
							<dl>
								<dt>运营/产品/设计</dt>
								<dd><a href="javascript:;">运营总监</a></dd>
								<dd><a href="javascript:;">产品总监</a></dd>
								<dd><a href="javascript:;">视觉设计师</a></dd>
							</dl>
						</li>
						<li class="nav_item">
							<dl>
								<dt>测试/运维</dt>
								<dd><a href="javascript:;">测试经理</a></dd>
								<dd><a href="javascript:;">测试开发</a></dd>
								<dd><a href="javascript:;">系统工程师</a></dd>
							</dl>
						</li>
						<li class="nav_item">
							<dl>
								<dt>测试/运维</dt>
								<dd><a href="javascript:;">测试经理</a></dd>
								<dd><a href="javascript:;">测试开发</a></dd>
								<dd><a href="javascript:;">系统工程师</a></dd>
							</dl>
						</li>
					</ul>
					<div class="nav_item_more">
						<i></i>
						<ul>
							<li>
								<dl>
									<dt>前端</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>后端</dt>
									<dd><a href="javascript:;">高级研发工程师</a></dd>
									<dd><a href="javascript:;">研发工程师</a></dd>
									<dd><a href="javascript:;">移动开发工程师</a></dd>
									<dd><a href="javascript:;">架构师</a></dd>
									<dd><a href="javascript:;">系统分析师</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>BI</dt>
									<dd><a href="javascript:;">计算机辅助设计工程师</a></dd>
									<dd><a href="javascript:;">BI工程师</a></dd>
									<dd><a href="javascript:;">仿真应用工程师</a></dd>
								</dl>
							</li>
						</ul>
						<ul>
							<li>
								<dl>
									<dt>前端2</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>后端2</dt>
									<dd><a href="javascript:;">高级研发工程师</a></dd>
									<dd><a href="javascript:;">研发工程师</a></dd>
									<dd><a href="javascript:;">移动开发工程师</a></dd>
									<dd><a href="javascript:;">架构师</a></dd>
									<dd><a href="javascript:;">系统分析师</a></dd>
									<dd><a href="javascript:;">高级研发工程师</a></dd>
									<dd><a href="javascript:;">研发工程师</a></dd>
									<dd><a href="javascript:;">移动开发工程师</a></dd>
									<dd><a href="javascript:;">架构师</a></dd>
									<dd><a href="javascript:;">系统分析师</a></dd>
									<dd><a href="javascript:;">高级研发工程师</a></dd>
									<dd><a href="javascript:;">研发工程师</a></dd>
									<dd><a href="javascript:;">移动开发工程师</a></dd>
									<dd><a href="javascript:;">架构师</a></dd>
									<dd><a href="javascript:;">系统分析师</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>BI2</dt>
									<dd><a href="javascript:;">计算机辅助设计工程师</a></dd>
									<dd><a href="javascript:;">BI工程师</a></dd>
									<dd><a href="javascript:;">仿真应用工程师</a></dd>
								</dl>
							</li>
						</ul>
						<ul>
							<li>
								<dl>
									<dt>前端3</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
						</ul>
						<ul>
							<li class="">
								<dl>
									<dt>前端4</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
						</ul>
						<ul>
							<li>
								<dl>
									<dt>前端5</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
						</ul>
						<ul>
							<li>
								<dl>
									<dt>前端6</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
						</ul>
						<ul>
							<li>
								<dl>
									<dt>前端7</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>前端7</dt>
									<dd><a href="javascript:;">前端开发工程师</a></dd>
									<dd><a href="javascript:;">SEO搜索引擎优化</a></dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				
				<!-- 侧边菜单 + 搜索条 + 图片滑动 start -->
				<div class="news_side fr">
					<!-- 搜索框 -->
					<div class="search_input">
						<input type="text" placeholder="请输入人才关键字，多个关键字空格隔开"/>
						<a href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
						<div class="search_show">
							<div class="table">
								<div class="tal vat">
									<ul class="">
										<li><span>软件工程师</span><span>共<span>56</span>个职位</span></li>
										<li><span>软件测试</span><span>共<span>56</span>个职位</span></li>
									</ul>
								</div>
								<span>职位</span>
							</div>
							<div class="table">
								<div class="tal vat">
									<ul>
										<li><span>软通动力</span><span>共<span>56</span>个职位</span></li>
										<li><span>软件科技</span><span>共<span>56</span>个职位</span></li>
										<li><span>软通动力</span><span>共<span>56</span>个职位</span></li>
										<li><span>软件科技</span><span>共<span>56</span>个职位</span></li>
									</ul>
								</div>
								<span>公司</span>
							</div>
						</div>
					</div>
					<dl>
						<dt>热门搜索：</dt>
						<dd><a href="javascript:;">自动化测试</a></dd>
						<dd><a href="javascript:;">新媒体运营</a></dd>
						<dd><a href="javascript:;">UI前端开发</a></dd>
						<dd><a href="javascript:;">产品经理</a></dd>
					</dl>
					<!-- 图片滚动 -->
					<div class="picFocus">
						<div class="bd">
							<ul>
								<li><a target="_blank" href="www.SuperSlide2.com"><img src="../../static/website/image/temp/1.jpg" /></a></li>
								<li><a target="_blank" href="www.SuperSlide2.com"><img src="../../static/website/image/temp/2.jpg" /></a></li>
								<li><a target="_blank" href="www.SuperSlide2.com"><img src="../../static/website/image/temp/3.jpg" /></a></li>
								<li><a target="_blank" href="www.SuperSlide2.com"><img src="../../static/website/image/temp/4.jpg" /></a></li>
							</ul>
						</div>
						<div class="hd">
							<ul>
								<li><span>加入沪江，成为更好的自己</span></li>
								<li><span>你的高度决定我们的速度</span></li>
								<li><span>携程在手，说走就走</span></li>
								<li><span>滴滴一下，马上出发</span></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- 侧边菜单 + 搜索条 + 图片滑动 end -->

			<!-- 热招职位 -->
			<div class="floor_module">
				<h2>热招职位<a class="link_01 fr" href="">更多>></a></h2>
				<ul class="hot_list clearfix">
					<li class="hot_item_01">
						<div class="hot_item table">
							<div class="hot_pic">
								<img src="../../static/website/image/temp/default.jpg" />
							</div>
							<div class="hot_info tal">
								<div class="hl01"><span class="span01">UI设计师</span><span class="span02">30-50万</span></div>
								<div class="hl02"><span>北京怀才当遇网络科技有限公司</span></div>
								<div class="hl03">
									<span>移动互联网</span>
									<span class="span02">
										<span>北京</span>|<span>5年</span>|<span>本科</span>
									</span>
								</div>
							</div>
							<div class="hot_reward">
								<span><span class="span01">￥</span><span class="span02">10000</span></span>
								<span>领取赏金</span>
							</div>
						</div>
					</li>
					<li class="hot_item_01">
						<div class="hot_item table">
							<div class="hot_pic">
								<img src="../../static/website/image/temp/default.jpg" />
							</div>
							<div class="hot_info tal">
								<div class="hl01"><span class="span01">UI设计师</span><span class="span02">30-50万</span></div>
								<div class="hl02"><span>北京怀才当遇网络科技有限公司</span></div>
								<div class="hl03">
									<span>移动互联网</span>
									<span class="span02">
										<span>北京</span>|<span>5年</span>|<span>本科</span>
									</span>
								</div>
							</div>
							<div class="hot_reward">
								<span><span class="span01">￥</span><span class="span02">10000</span></span>
								<span>领取赏金</span>
							</div>
						</div>
					</li>
					<li class="hot_item_02">
						<div class="hot_item table">
							<div class="hot_pic">
								<img src="../../static/website/image/temp/default.jpg" />
							</div>
							<div class="hot_info tal">
								<div class="hl01"><span class="span01">UI设计师</span><span class="span02">30-50万</span></div>
								<div class="hl02"><span>北京怀才当遇网络科技有限公司</span></div>
								<div class="hl03">
									<span>移动互联网</span>
									<span class="span02">
										<span>北京</span>|<span>5年</span>|<span>本科</span>
									</span>
								</div>
							</div>
							<div class="item_type vat tar">
								<span class="type01"><span>猎</span></span>
							</div>
						</div>
					</li>
					<li class="hot_item_02">
						<div class="hot_item table">
							<div class="hot_pic">
								<img src="../../static/website/image/temp/default.jpg" />
							</div>
							<div class="hot_info tal">
								<div class="hl01"><span class="span01">UI设计师</span><span class="span02">30-50万</span></div>
								<div class="hl02"><span>北京怀才当遇网络科技有限公司</span></div>
								<div class="hl03">
									<span>移动互联网</span>
									<span class="span02">
										<span>北京</span>|<span>5年</span>|<span>本科</span>
									</span>
								</div>
							</div>
							<div class="item_type vat tar">
								<span class="type02"><span>企</span></span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="floor_module">
				<h2 class="module02_h2">行业专家经纪人<a class="link_01 fr" href="">更多>></a></h2>
				<ul class="hot_agent clearfix">
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div>
							<img src="../../static/website/image/temp/userIcon.png" />
							<p class="p01"><span class="span01">李清</span><span class="span02">LV4</span></p>
							<div>
								<p class="p02">
									<span class="span01">好评：<span>95%</span></span>
									<span class="span02">响应时间：<span>1天内</span></span>
								</p>
								<p class="p03">
									<span class="span01">职位：<span>10个</span></span>
									<span class="span02">简历委托：<span>2474份</span></span>
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	
	<div class="bottom">
		<div class="center">
			<div class="weixin">
				<img src="../../static/website/image/index_07.png" alt="关注微信">
				<p>扫一扫关注我们</p>
			</div>
			<div class="weibo">
				<img src="../../static/website/image/weibo.png" alt="关注微博">
				<p>关注我们的微博</p>
			</div>
			<div class="service_telephone">
				<i class="iconfont icon-dianhua"></i>
				<em>客服电话</em> <strong>400-666-4846</strong>
			</div>
			<div class="friend_link">
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#" class="clear_rborder">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
			</div>
			<div class="bottom_menu">
				<div class="bottom_menu_list">
					<a href="#">关于我们</a>
					<a href="#">使用帮助</a>
					<a href="#">用户协议</a>
					<a href="#">友情链接</a>
					<a href="#">知识广场</a>
				</div>
				<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
			</div>
		</div>
	</div>
	<script src="../../static/website/js/page/industrySpecial.wmin.js"></script>
</body>
</html> 