<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="../../static/website/css/page/login.css">
</head>
<body>
<div class="menu_top_box">
		
			<img src="../../static/website/image/hcdy_logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li class="active"><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li><a href="#">免费企业咨询</a></li>
			</ul>
		
	</div>
	
	<div class="login">
		<div class="login_content">
			<div class="login_data">
				<p>欢迎登录<span>还没有账号,&nbsp;<a href="##">立即注册&nbsp;<i class="iconfont icon-xiao75"></i></a></span></p>
				<form >
	                   
	                    <div class="txt"> 
	                        
	                         <div class="logo_user"><i class="iconfont icon-zhanghu2"></i></div>
	                            <input name="user" id="user" type="text" placeholder="请输入邮箱帐号或手机" />
	                            <em></em>
	                            <span class="tip user_tip">您输入的账号有误</span>
	                            <i class="iconfont icon-guanbi del "></i>
	                       
	                    </div>

	                    <div class="txt">                                 
	                         <div class="logo_user"><i class="iconfont icon-mima "></i></div>
	                            <input name="psd" id="psd" type="password" placeholder="请输入密码" />
	                            <em></em> 
	                             <span class="tip psd_tip">您输入的账号有误</span>            
	                    </div>
	            </form>
	           <div class="remeber">	           	
	           		<div class="rem_select"><input type="checkbox" id="xuanzhong"><i class="iconfont icon-xuanzhong "></i></div>&nbsp;&nbsp;下次自动登录	           			           	
	           	<a href="##">忘记密码？</a>
	           </div>
	           <button class="login_btn">登录</button>
	           <p class="other_method">使用其他方式登录:
	           <span>
	           	  <a href="##" id="qq"></a>
	           <a href="##" id="wx"></a>
	           <a href="##" id="wb"></a>
	           </span>
	         
	           </p>
			</div>
			
		</div>
	</div>
	<div class="footer">
		<ul>
			<li><a href="">关于我们</a></li>
			<li><a href="">使用帮助</a></li>
			<li><a href="">用户协议</a></li>
			<li><a href="">友情链接</a></li>
			<li><a href="">知识广场</a></li>
		</ul>
		<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
	</div>
	<i class="iconfont .icon-gou666"></i>
	<script src="../../static/website/js/jquery.js"></script>
	<script src="../../static/website/js/page/login.js"></script>
</body>
</html>














