<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="../../static/website/css/page/register.css">
</head>
<body>
<div class="menu_top_box">
		
			<img src="../../static/website/image/hcdy_logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li class="active"><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li><a href="#">免费企业咨询</a></li>
			</ul>
			<span>已有怀才当遇账号,<a href="##">立即登录 <i class="iconfont icon-jiantou "></i></a></span>
		
</div>
	<!-- 注册 -->
	<div class="register">
		<div class="register_content">
			<p class="register_method">
				<a href="javascript:void(0)" class="method_active"><i class="iconfont icon-youxiang "></i>邮箱注册</a><a href="javascript:void(0)"><i class="iconfont icon-shouji "></i>手机注册</a>
			</p>
			<!-- 邮箱注册 -->
			<div id="register_email" class="register_data" >
					<form>
						<input type="email" placeholder="请输入邮箱账号" />
						<input type="passward" placeholder="请输入密码，6-16位数字"/>
						<input type="passward" placeholder="确认密码"/>
					</form>
					<p class="people_type">
					  <span>我是人才</span><span class="agent">我是人才经纪人</span><span class="company">我是企业</span>
					</p>
				    <div class="remeber ">	           	
			           		<div class="rem_select"><input type="checkbox" id="email_agree" name="email"><i class="iconfont icon-xuanzhong xuanzhong_1"></i></div>&nbsp;&nbsp;我已阅读并同意 <a href="">《用户协议》</a>	           			           	
			          
			        </div>
			        <button class="register_btn">注册</button>
			</div>
			<!-- 手机注册 -->
			<div id="register_phone" class="register_data">
					<form>
						<input type="text" placeholder="请输入手机号码"  id="phone" />
						<input type="passward" placeholder="请输入密码，6-16位数字"/>
						<input type="passward" placeholder="确认密码"/>
						<div class="S_code">
						  <input type="passward" placeholder="请输入短信验证码"/>
                           <a href="javascript:void(0)">发送验证码</a>
					    </div>	
					</form>
								
					<p class="people_type">
					  <span>我是人才</span><span class="agent">我是人才经纪人</span><span class="company">我是企业</span>
					</p>
				    <div class="remeber">	           	
			           		<div class="rem_select"><input type="checkbox" id="phone_agree" name="phone"><i class="iconfont icon-xuanzhong xuanzhong_2"></i></div>&nbsp;&nbsp;我已阅读并同意 <a href="">《用户协议》</a>	           			           	
			          
			        </div>
			        <button class="register_btn">注册</button>
			</div>
		
			
		</div>
	</div>

	<div class="footer">
		<ul>
			<li><a href="">关于我们</a></li>
			<li><a href="">使用帮助</a></li>
			<li><a href="">用户协议</a></li>
			<li><a href="">友情链接</a></li>
			<li><a href="">知识广场</a></li>
		</ul>
		<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
	</div>
	<i class="iconfont .icon-gou666"></i>
	<script src="../../static/website/js/jquery.js"></script>
<script src="../../static/website/js/page/register.js"></script> 
</body>
</html>














