<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>找回密码</title>
	<link rel="stylesheet" type="text/css" href="../../static/website/css/page/Rtr_psd.css">
</head>
<body>
	<div class="header">
	      <div class="header_content">
	           <span class="header_title">
				<img src="../../static/website/image/hcdy_logo.png" alt="怀才当遇" class="logo">
				<a href="">找回密码</a>
			  </span>
			  <span class="log_Re">
			  	<a href=""><i class="iconfont icon-yonghu"></i>&nbsp;&nbsp;登录</a>
			  	<a href="">立即注册</a>
			  </span>

	       </div>
		
	</div>
	<div class="find">
		<div class="find_content">
			<p><span class="color_active">邮箱找回</span><span>手机找回</span></p>
			<div class="find_type">
			    <p><span class="steps"><i class="iconfont icon-1"></i>&nbsp;&nbsp;输入账号</span><span><i class="iconfont icon-2"></i>&nbsp;&nbsp;验证账号</span><span><i class="iconfont icon-3"></i>&nbsp;&nbsp;重置密码</span></p>
			    <!-- 邮箱找回 -->
				 <div class="find_email find_center">
				 	<div class="email_1 S_down">
				 	       <input type="email" placeholder="请输入登录邮箱"/><span>您的格式不正确</span>
				 		   <p> <input type="text" placeholder="输入验证码"/><span>101613 <i class="iconfont icon-refresh "></i></span></p> 
				 		    <button class="find_btn btn_email">找回密码</button>
				 	</div>
				 	<div class="email_2 ">
				 		<p>密码重置邮件已经发送至您的邮箱</p>
				 		<p class="email_num">461972323@qq.com</p>
				 		<p class="email_tip">请在二十四小时内登录你的邮箱接收邮件，链接激活后可重置密码</p>
				 		 <button class="find_btn ">登录邮箱查看</button>
				 	</div>
				 	<div class="email_3 ">
				 	       <input type="password" placeholder="输入新密码"/><span>你输入的字符含非法字符</span>
				 	       <input type="password" placeholder="再次确认新密码"/><span>两者不一致</span>
				 		 <button class="find_btn">确定</button>
				 	</div>
				 </div>
				 <!-- 手机找回 -->
				 <div class="find_phone find_center">
				 	<div class="phonel_1 S_down">
				 	       <input type="email" placeholder="请输入手机号"/><span>您的格式不正确</span>
				 		   <p> <input type="text" placeholder="输入验证码"/><span>101613 <i class="iconfont icon-refresh "></i></span></p> 
				 		    <button class="find_btn btn_phone">找回密码</button>
				 	</div>
				 	<div class="phone_2 ">
				 		  <input type="text" placeholder="请输入手机号码"/>
				 		   <p> <input type="text" placeholder="短信验证码"/><a href="javascript:void(0)">发送验证码</a></p>		 
				 		 <button class="find_btn">验证</button>
				 	</div>
				 	<div class="phone ">
				 	       <input type="password" placeholder="输入新密码"/>
				 	       <input type="password" placeholder="再次确认新密码"/>
				 		 <button class="find_btn">确定</button>
				 	</div>
				 </div>
			</div>
		</div>
	</div>

	
	
	<div class="footer">
		<ul>
			<li><a href="">关于我们</a></li>
			<li><a href="">使用帮助</a></li>
			<li><a href="">用户协议</a></li>
			<li><a href="">友情链接</a></li>
			<li><a href="">知识广场</a></li>
		</ul>
		<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
	</div>
	<script src="../../static/website/js/jquery.js"></script>
	<script src="../../static/website/js/page/Rtr_psd.js"></script>
</body>
</html>














