<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索公司</title>
	<link rel="stylesheet"  href="../../../static/website/css/page/position/findCompany.css">
</head>
<body>

	 <div class="hhnt_login_reg_box">
		<div class="center">
			<div class="hhnt_login_reg"> <i class="iconfont icon-noregtouxiang"></i>
				<a href="#" class="hhnt_login">登录</a>
				<a href="#" class="hhnt_reg">立即注册</a>
			</div>
		</div>
	</div>
	<div class="menu_top_box">
		<div class="center clearfix">
			<img src="../../../static/website/image/logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li class="active"><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="menu_box_more">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li><a href="#">免费企业咨询</a></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="search_wrap moudle_shadow">
			<div class="search_input">
				<input type="text" placeholder="请输入人才关键字，多个关键字空格隔开"/>
				<a href="javascript:;"><i class="iconfont icon-sousuo"></i></a>
				<div class="search_show">
					<div class="table">
						<div class="tal vat">
							<ul class="">
								<li><span>软件工程师</span><span>共<span>56</span>个职位</span></li>
								<li><span>软件测试</span><span>共<span>56</span>个职位</span></li>
							</ul>
						</div>
						<span>职位</span>
					</div>
					<div class="table">
						<div class="tal vat">
							<ul>
								<li><span>软通动力</span><span>共<span>56</span>个职位</span></li>
								<li><span>软件科技</span><span>共<span>56</span>个职位</span></li>
								<li><span>软通动力</span><span>共<span>56</span>个职位</span></li>
								<li><span>软件科技</span><span>共<span>56</span>个职位</span></li>
							</ul>
						</div>
						<span>公司</span>
					</div>
				</div>
			</div>
			<p class="search_data">
				<a href="##">职位(&nbsp;<span>26个</span>&nbsp;)</a>
				<a href="##" class="data_active">公司(&nbsp;<span>8个</span>&nbsp;)</a>
			</p>
		</div>


		<div class="company_list moudle_shadow">
			<ul>
				<li class="personal">
					<div class="z_job">
						<div class="job_pic">
							<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
                <li class="personal">
					<div class="z_job">
						<div class="job_pic">
							<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
                <li class="personal">
					<div class="z_job">
						<div class="job_pic">
							<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
				<li class="personal">
					<div class="z_job">
						<div class="job_pic">
							<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
				<li class="personal">
					<div class="z_job">
						<div class="job_pic">
							<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
				<li class="personal">
					<div class="z_job">
						<div class="job_pic">
						<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
				<li class="personal">
					<div class="z_job">
						<div class="job_pic">
							<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
				<li class="personal">
					<div class="z_job">
						<div class="job_pic">
							<img src="../../../static/website/image/yongyou.png">
						</div>
						<div class="job_req">
							<p class="job_title">江西用友软件科技有限公司 <span>“致力于为物联网、互联网行业提供专业研发服务和配套软硬件部件”</span></p>
						<p class="company_details">
							<span class="job_salary"><i class="iconfont">&#xe63f;</i>南昌市</span>
							<span><i class="iconfont">&#xe63c;</i>100-500人</span>
							
							<span><i class="iconfont">&#xe643;</i>民营公司</span>
							
							<span><i class="iconfont">&#xe641;</i>计算机硬件网络设备</span>
							<span ><i class="iconfont">&#xe640;</i><span class="number_hire">6个</span>招聘职位</span>
							</p>
						</div>
					</div>
					<a href="##" class="company_link">公司主页<i class="iconfont">&#xe622;</i></a>
				</li>
				
			</ul>
		</div>
	</div>

	<div class="bottom">
		<div class="center">
			<div class="weixin">
				<img src="../../../static/website/image/index_07.png" alt="关注微信">
				<p>扫一扫关注我们</p>
			</div>
			<div class="weibo">
				<img src="../../../static/website/image/weibo.png" alt="关注微博">
				<p>关注我们的微博</p>
			</div>
			<div class="service_telephone">
				<i class="iconfont icon-dianhua"></i>
				<em>客服电话</em>
				<strong>400-666-4846</strong>
			</div>
			<div class="friend_link">
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#" class="clear_rborder">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
			</div>
			<div class="bottom_menu">
				<div class="bottom_menu_list">
					<a href="#">关于我们</a>
					<a href="#">使用帮助</a>
					<a href="#">用户协议</a>
					<a href="#">友情链接</a>
					<a href="#">知识广场</a>
				</div>
				<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
			</div>
		</div>
	</div>
	<script src="../../../static/website/js/page/position/findCompany.wmin.js"></script>
</body>
</html>