<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>user</title>
	<link rel="stylesheet"  href="../../../static/website/css/page/system/user_ag.css">
</head>
<body>
     <div class="hhnt_login_reg_box">
		<div class="center">
			<div class="hhnt_login_reg"> <i class="iconfont icon-noregtouxiang"></i>
				<a href="#" class="hhnt_login">登录</a>
				<a href="#" class="hhnt_reg">立即注册</a>
			</div>
		</div>
	</div>
	<div class="menu_top_box">
		<div class="center clearfix">
			<img src="../../../static/website/image/logo.png" alt="怀才当遇" class="logo">
			<ul class="menu_box">
				<li class="active"><a href="#">首页</a></li>
				<li class="menu_box_more">
					<a href="#" class="menu_box_more">搜索职位</a>
					<ul>
						<li><a href="javscript:;">互联网/游戏/软件</a></li>
						<li><a href="javscript:;">房地产/建筑/物业</a></li>
						<li><a href="javscript:;">金融</a></li>
						<li><a href="javscript:;">制造/采购/物流</a></li>
						<li><a href="javscript:;">消费品</a></li>
						<li><a href="javscript:;">政府/农林/牧渔</a></li>
					</ul>
				</li>
				<li><a href="#">找人才</a></li>
				<li><a href="#">免费企业咨询</a></li>
			</ul>
		</div>
	</div>

	<div class="slogan_content">		
			<p>怀才当遇，快速、精准帮人才和企业成就梦想</p>	
		<ul class="Nav_bar moudle_shadow">
			<li class="bg"><a href="##" class="color">使用帮助</a></li>			
			<li><a href="##">用户协议</a></li>		
			<li><a href="##">友情链接</a></li>			
		</ul>	
	</div>

	<div class="content">
		<div class="conmmon_problem type_content moudle_shadow">
		    <ul class="problem_list">
		    	<li class="active">常见问题</li>
		    	<li>经纪人常见问题</li>
		    	<li>人才常见问题</li>
		    	<li>企业常见问题</li>
		    </ul>
		    <div class="total_pbl Dis_content">
		    	 <ul>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>账号注册的时候需要注意些什么？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.根据自身角色选择账号类型，包括：人才、企业、人才经纪人；</p>
                                <p> 2.根据选定的账号类型，完善对应的信息；</p> 
                                <p> 3.确定您的基本信息及联系方式真实有效。真实且完善的信息能够帮助您更好的体验怀才当遇平台功能。 </p>	
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>一个邮箱或者手机号码能同时注册人才、企业和人才经纪人账号吗？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.不能，平台账号具有唯一性，同一个邮箱、电话只能注册一次且只能激活一种角色状态。</p>                              
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>手机号码在注册的时候，收不到验证码怎么办？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.确认填写的邮箱号码真实有效，若提示验证邮件已发出但长时间未收到邮件时，建议先查看您邮箱的“订阅栏”与“垃圾箱”内是否有相关邮件， </p>
								<p>2.如一切正常但仍无法收到验证邮件，可拨打400-666-4846联系客服进行咨询。</p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>如何修改账号密码<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.登入账号后，鼠标移入界面右上方的头像，在下拉框中找到账号设置选项，点击修改密码，填写当前密码和新密码就能完成密码修改了。 </p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>忘记了密码如何找回密码？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.点击网站登入界面下方的“忘记密码”，然后通过手机验证或者邮箱验证找回密码。</p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>1.如果已经更换手机号码，或者邮箱密码已经忘记，现在又遗失了账号密码该怎么办？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.你可以向网站的客服人员进行申诉，在核实您的信息无误后，我们将帮助你找回密码，同时怀才当遇提醒您，请妥善保管好您的账户密码。 </p>
								
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>如何更有效的保障自己的账号安全？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.完成账号注册后，立即绑定你的手机号码和电子邮箱，若手机号码已经更换请及时更换绑定新号码。 </p>
						
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 </ul>
		    </div>
		 
		     <div class="total_pbl">
		    	 <ul>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>在怀才当遇网成功注册人才经纪人后，就能发布职位吗？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.不是的，首先您需要完成个人身份认证，然后需要加入经纪人公司或自己创建经纪人公司并审核通过，才能发布职位哦！</p>                               
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>人才经纪人发布职位有数量限制吗？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.有的，人才经纪人在申请加入经纪人公司后，可发布的职位的数量由人才经纪人当前等级决定，等级越高，可发布的职位数越多。</p>                              
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>人才经纪人查看简历的联系方式需要才币吗？简历有几种收费标准？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.除标价为免费的简历之外，经纪人查看相关简历需要支付一定费用。具体的支付形式（才币、人民币）取决于简历的性质.</p>
								<p>2.经纪人查看简历为平台简历的，需支付相应才币；查看的简历若为其他经纪人所有，则应按照对方标定的简历价格支付相应人民币进行查看。</p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>人才经纪人怎么增加才币？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.才币可以通过完成任务获得，也可以以人民币1:1充值兑换，详细内容可在平台规则页面进行查看！ </p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>我发布的简历被付费查看后，对方所支付的费用我如何获取？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.经纪人可设定其简历为免费或付费（人民币）。</p>
		    	 				<p>2.企业或经纪人查看付费简历的，完成支付后，支付金额全额转入简历所有方在怀才当遇平台上的账户，同时转入的金额可以提现。</p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>才币能提现吗？提现都有哪些要求？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.才币是不能提现的，账户中的余额能提现。 </p>								
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 </ul>
		    </div>

		    <div class="total_pbl ">
		    	 <ul>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>企业发布职位需要具备什么条件？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.HR在怀才当遇网成功注册企业账号并通过企业验证（营业执照验证），即可发布职位，</p> 
		    	 				<p>2.通过导航“职位管理”进入职位管理模块，点击“职位发布”或“添加新职位”进入职位发布页面，填写信息并发布职位。</p>                              
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>才币是怎么充值的？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.用户可通过支付宝或钱包余额购买才币，充值兑换比例为1：1（人民币：才币）。</p>                              
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>企业查看简历怎么付费的？简历的收费是一样的吗？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.查看简历基本信息不需要支付费用，仅当查看简历联系方式时需判定是否支付；</p>
								<p>2.企业HR查看投递来的简历不需要支付任何费用；</p>
								<p>3.企业查看搜索及转发的简历联系方式时，如果该简历是付费简历，则需要支付费用；</p>
								<p>4.HR查看平台个人简历联系方式需支付40才币，查看经纪人简历联系方式，需支付人民币（具体金额由对方标价决定）。</p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>充值能开发票吗？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.使用人民币充值才币，成功后可联系客服申请开具发票。 </p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>账户余额可以提现吗？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.才币不能提现的，账户中的余额能提现。</p>		    	 				
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>如何修改公司全称？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.请用接收简历的企业邮箱发送邮件至 hihi@hcdyhr.com，修改前是什么、修改后是什么，我们将为你修改。 </p>
		    	 				<p>2.另外，公司全称如果修改幅度过大，需要提供营业执照和公司变更证明。</p>							
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 </ul>
		    </div>

		     <div class="total_pbl ">
		    	 <ul>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>人才能创建多份简历吗？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.目前平台只能创建一份简历。</p> 
		    	 				                           
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>职位订阅器有什么作用<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.设定职位订阅器之后，系统会根据您填写的订阅要求，每周自动发送符合的新职位到您邮箱，前提是订阅器内容有效且您的账号绑定邮箱成功。</p>                              
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>简历投递企业之后多久会收到回复？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.投递的简历会即时发送到企业方，如果企业方、企业经纪人3个工作日没有回复，系统会给投递方发送消息通知。</p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>在网站看到有人才经纪人服务，请问怎么使用？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.可以把你的简历委托给合适的人才经纪人，对方如果有合适的职位，可以推荐给你。</p>
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>把简历委托给人才经纪人了，需要付费吗？付费的标准是什么样？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 					<p>1.简历委托给人才经纪人不需要付费。</p>	    	 				
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>怎么设置我的简历只让企业或者人才经纪人看到？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.填写完简历之后，在个人主页的右上方的隐私设置中选择“仅经纪人可见”或“仅企业可见”。</p>						
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>什么我的简历上传了这么久，无人问津或者投了简历石沉大海？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 					<p>1.你可以试着多投递些简历，让更多的人认识你，要有毛遂自荐的精神才能有更多的企业和HR发掘你的才能，你才能脱颖而出.</p>
		    	 					<p>2.另外，简历的完善程度也关乎到用人单位对你的青睐，所以请您在填写简历的时候，尽可能详细的陈述你的经历和特长，让企业对你刮目相看。</p>					
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>我正在某企业工作，现在想跳槽到其他企业去，但是我不想让我现在工作的企业搜寻到我的求职简历该怎么办？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 					<p>1.填写完简历之后，点击更多隐私设置，输入要屏蔽的企业即可，另外屏蔽系统不仅能屏蔽企业还能屏蔽经纪人哦。</p>					
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 	<li>
		    	 		<p><i class="iconfont que_mark" >&#xe642;</i>如果投递成功后，我对简历进行了修改，那么是否会影响之前的投递？<i class="iconfont up_down">&#xe62c;</i></p>
		    	 		<div class="mark_content">
		    	 			<div class="left"><i class="iconfont">&#xe644;</i></div>
		    	 			<div class="right">
		    	 				<p>1.不会影响。HR看到的简历，是你投递时的状态。</p>						
		    	 			</div>
		    	 		</div>
		    	 	</li>
		    	 </ul>
		    </div>
		 
		   
		</div>
		<div class="use_help ">
			<ul>
				<li>
					<h3>1.总则</h3>
					<p>怀才当遇是一个以提供人才经纪人服务为主的互联网招聘平台，在使用本网站服务之前，请认真阅读本协议全部内容。用户对本协议有任何疑问的，可以向本网站咨询，我们将在最短的时间内为您解答。</p>
				</li>
				<li>
					<h3>2.协议说明</h3>
					<p>无论用户以任何方式使用怀才当遇服务，均被认为用户已经阅读且接受本协议。无论用户是否在使用怀才当遇服务之前认真阅读了本协议内容，只要用户使用怀才当遇服务，则本协议即产生约束力，届时用户不应以未阅读本协议内容为由，主张本协议无效，或主张撤销本协议。
			 </p>
				</li>
				<li>
					<h3>3.帐号注册</h3>
					<p>用户完成注册程序时，会获得怀才当遇向用户提供的唯一编号的账户，并由用户自行选择密码。用户应自行保证账户和密码的安全，并对通过账户和密码实施的行为负责。对于他人使用任何手段获取用户账户及其密码登录怀才当遇并实施任何的行为，都将视为用户本人的行为，用户不得以该登录非其本人所为为理由要求怀才当遇为任何行为负责。除非有法律规定且征得怀才当遇的同意，否则，用户账户和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。</p>
				</li>
				<li>
					<h3>4.使用规则</h3>
					<p>	用户在使用怀才当遇服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意不会利用怀才当遇服务进行任何违法或不正当的活动，包括但不限于下列行为：</p>
					<p>(1)上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息（包括但不限于图片、文字、视频、链接、音乐等）</p>
					<p>(2)不得为任何非法目的而使用网络服务系统，不得恶意注册怀才当遇账号；</p>
					<p>(3)不利用怀才当遇服务从事以下活动：</p>
					    <p style="text-indent: 28px;"> 未经书面允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
					    <p style="text-indent: 28px;"> 未经书面允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
					    <p style="text-indent: 28px;"> 未经书面允许，进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
					    <p style="text-indent: 28px;"> 故意制作、传播计算机病毒（包括木马）等破坏性程序，盗取其他用户账户、密码、隐私、操控他人电脑的；</p>
					    <p style="text-indent: 28px;"> 其他危害计算机信息网络安全的行为。</p>
					<p>(4)用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费、诉讼费，以及行政机关依法对本网站进行的任何罚款，用户同意为怀才当遇在任何场合澄清事实，挽回声誉，并赔偿怀才当遇及合作公司、关联公司因用户违反本协议或相关的服务条款的规定而遭受的全部损失同时怀才当遇会遵从司法部门的要求，协助调查，公布用户相应的信息、资料及设有隐私保护的内容。对此怀才当遇有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收怀才当遇账号、追究法律责任等措施。</p>
					<p>(5)用户不得对怀才当遇相关服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。</p>
					<p>(6)用户须对自己在使用怀才当遇服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在怀才当遇首先承担了因用户行为导致 的行政处罚或侵权损害赔偿责任后，用户应给予怀才当遇等额的赔偿。</p>
					<p>(7)用户充分了解并同意，怀才当遇为用户提供职场相关信息分享、传播及获取的平台，用户必须为自己注册帐户下的一切行为负责，包括用户所发表的任何内容以及由此产生的任何结果。用户应对怀才当遇中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。怀才当遇无法且不会对因用户行为而导致的任何损失或损害承担责任。</p>	
				</li>
				<li>
					<h3>5.服务说明</h3>
					<p>	怀才当遇为求职者、企业、人才经纪人三方提供服务的同时，部分功能将收取一定费用。若用户所使用的服务需支付费用，用户有权决定是否使用并接受该收费服务。怀才当遇上的收费服务以人民币计价，定价上可能随时调整。我们将以网站公告的方式，来通知用户收费政策的变更。无论是付费业务还是免费提供的服务等，均有一定的使用期限，有效期结束后服务将自动终止。除非本注册条款另有规定，所有付费业务均不退费。怀才当遇有权向其用户发送广告信，或为组织线下活动等目的，向其用户发送电子邮件、短信或电话通知。</p>
				</li>
				<li>
					<h3>6.免责务款</h3>
					<p>怀才当遇不保证其提供的服务一定能满足用户的要求和期望，也不保证服务不会中断。怀才当遇会尽力审核信息的真实性，但不保证信息的准确性和安全性，用户应确认在使用怀才当遇所提供的服务前，用户已经知晓，理解并认可此情况。用户在使用非本网站自行上传的内容时遭受的损失和其它一切后果由用户独自承担。</p>
				</li>
				<li>
					<h3>7.隐私权限</h3>
					<p>怀才当遇是一个以提供人才经纪人服务为主的互联网招聘平台，在使用本网站服务之前，请认真阅读本协议全部内容。用户对本协议有任何疑问的，可以向本网站咨询，我们将在最短的时间内为您解答。</p>
					<p>	保护用户隐私是怀才当遇的一项基本政策，怀才当遇保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在怀才当遇的非公开内容，但下列情况除外：</p>
					<p style="margin-top: 30px;">(1)事先获得用户的明确授权；</p>
					<p>(2)根据有关的法律法规要求；</p>
					<p>(3)按照相关政府主管部门的要求；</p>
					<p>(4)为维护社会公众的利益；</p>
					<p style="margin-bottom: 30px;">(5)为维护怀才当遇网站的合法权益。</p>
					<p>用户使用怀才当遇提供的任何服务包括但不限于发布信息，浏览信息，发布广告等将导致用户的IP地址为百姓网获得并在网页中显示作为用户的身份标识，同时怀才当遇将可能根据法律法规的规定向第三方提供该IP地址，用户应对此表示知情并认可。</p>
					<p>用户使用怀才当遇服务、参加怀才当遇活动、访问怀才当遇网页或使用私信聊天时，自动接收并记录的用户浏览器传递给怀才当遇服务器的数据。但使用怀才当遇就意味着同意怀才当遇将用户发帖时使用的IP地址显示出来作为身份标识，即用户IP地址不受本隐私权政策保护；用户在网络上公开的其他个人信息亦不受此保护；</p>
					<p style="margin-top: 30px;">怀才当遇不会向任何人出售或出借用户的个人信息，除非事先得到用户的许可；怀才当遇亦不允许任何第三方以任何手段收集、编辑、出售、传播或披露用户的个人信息。任何用户如从事上述活动，一经发现，怀才当遇将采取法律手段追究责任；</p>
					<p style="margin-top: 30px;">为服务用户的目的，怀才当遇可能通过使用用户的个人信息，向用户提供服务，包括但不限于向用户发出产品和服务信息，或者与怀才当遇合作伙伴共享信息以便他们向用户发送有关其产品和服务的信息。</p>
					<p style="margin-top: 30px;">在使用怀才当遇服务进行网上交易时，用户不可避免的要向交易对方或潜在的交易对方提供自己的个人信息，如联络方式或者邮政地址等。请用户妥善保护自己的个人信息，仅在必要的情形下向他人提供；若发生用户信息被泄露或盗用的情况，怀才当遇也提供诸如自动系统举报删帖、客服电话等服务配合用户的信息安全保护工作。</p>
				</li>
			</ul>
	
		</div>
		<div class="link ">
					
                        
            <a href="http://z.paidai.com" target="_blank" rel="nofollow">电商招聘</a>
                        
             <a href="http://www.ycpai.com" target="_blank" rel="nofollow">互联网创业</a>
                        
            <a href="http://www.apkbus.com" target="_blank" rel="nofollow">Android开发</a>
                        
            <a href="http://nav80.com" target="_blank" rel="nofollow">设计师网址导航</a>
                        
            <a href="http://www.gaya3d.com" target="_blank" rel="nofollow">盖亚3D</a>
                        
            <a href="http://www.masterchat.cn" target="_blank" rel="nofollow">产品经理论坛</a>
                        
            <a href="http://www.snsiu.com" target="_blank" rel="nofollow">行晓网</a>
                        
            <a href="http://3wsalon.com" target="_blank" rel="nofollow">websalon</a>
                        
            <a href="http://lanhan.cn" target="_blank" rel="nofollow">懒汉互联</a>
                        
            <a href="http://www.zuitech.com" target="_blank" rel="nofollow">最科技</a>
                        
            <a href="http://www.qdjhu.com" target="_blank" rel="nofollow">前端江湖</a>
                        
            <a href="http://zggonglue.com" target="_blank" rel="nofollow">掌柜攻略</a>
                        
            <a href="http://www.niaogebiji.com" target="_blank" rel="nofollow">鸟哥笔记</a>
                        
            <a href="http://www.kaoputou.com" target="_blank" rel="nofollow">靠谱投</a>
                        
            <a href="http://shixian.com?f=lagou" target="_blank" rel="nofollow">实现网</a>
                        
            <a href="http://www.php100.com" target="_blank" rel="nofollow">php100</a>
                        
            <a href="http://www.uehtml.com" target="_blank" rel="nofollow">uehtml</a>
                        
            <a href="http://www.uimaker.com" target="_blank" rel="nofollow">uimaker</a>
                        
            <a href="http://www.chuanke.com" target="_blank" rel="nofollow">传课网</a>
                        
            <a href="http://www.jz265.com" target="_blank" rel="nofollow">建站中国</a>
                        
            <a href="http://www.iterduo.com" target="_blank" rel="nofollow">IT耳朵</a>
                        
            <a href="http://www.360body.com" target="_blank" rel="nofollow">博迪健康</a>
                        
            <a href="http://tech.ku6.com" target="_blank" rel="nofollow">酷6科技</a>
                        
            <a href="http://www.vmovier.com" target="_blank" rel="nofollow">微电影</a>
                        
            <a href="http://www.c-oin.com" target="_blank" rel="nofollow">C-oin</a>
                        
            <a href="http://www.yooli.com" target="_blank" rel="nofollow">互联网理财</a>
                        
            <a href="http://www.meilijia.com" target="_blank" rel="nofollow">美丽家</a>
                        
            <a href="http://www.wowsai.com" target="_blank" rel="nofollow">哇噻网</a>
                        
            <a href="http://www.em1688.com" target="_blank" rel="nofollow">中国易贸网</a>
                        
            <a href="http://www.job0663.com" target="_blank" rel="nofollow">揭阳招聘网</a>
                        
            <a href="http://www.ycpai.com" target="_blank" rel="nofollow">互联网创业</a>
                        
            <a href="http://www.chaohuhr.com" target="_blank" rel="nofollow">巢湖英才网</a>
                        
            <a href="http://www.ijiatv.com" target="_blank" rel="nofollow">爱家TV</a>
                        
            <a href="http://www.standardcf.com" target="_blank" rel="nofollow">标准众筹</a>
                        
            <a href="http://www.techxue.com" target="_blank" rel="nofollow">互联网分析沙龙</a>
                        
            <a href="http://www.huxiu.com" target="_blank" rel="nofollow">虎嗅网</a>
                        
            <a href="http://tiyanzhimei.com" target="_blank" rel="nofollow">体验之美</a>                                  
                        
            <a href="http://www.shougongke.com" target="_blank" rel="nofollow">手工客</a>
                        
            <a href="http://www.uplook.cn" target="_blank" rel="nofollow">尚网</a>
                        
            <a href="http://www.mumayi.com" target="_blank" rel="nofollow">木蚂蚁安卓市场</a>
                        
            <a href="http://www.199it.com" target="_blank" rel="nofollow">199it</a>
                        
            <a href="http://www.youbian.com" target="_blank" rel="nofollow">邮编生活网</a>
                        
            <a href="http://www.jikexueyuan.com" target="_blank" rel="nofollow">安卓开发教程</a>
                        
            <a href="http://www.yejs.com.cn" target="_blank" rel="nofollow">中国幼儿教师网</a>
                        
            <a href="http://www.pm265.com" target="_blank" rel="nofollow">产品经理导航</a>
                        
            <a href="http://www.itjuzi.com" target="_blank" rel="nofollow">IT桔子</a>
                        
            <a href="http://segmentfault.com" target="_blank" rel="nofollow">segmentfault</a>
                        
            <a href="http://www.pmcaff.com" target="_blank" rel="nofollow">pmcaff</a>
                        
            <a href="http://www.pintu360.com" target="_blank" rel="nofollow">品途O2O</a>
                        
            <a href="http://www.iguoguo.net" target="_blank" rel="nofollow">酷站欣赏</a>
                        
            <a href="http://www.webyuansu.cn" target="_blank" rel="nofollow">WEB元素</a>
                        
            <a href="http://www.cloopen.com" target="_blank" rel="nofollow">VoIP</a>
                        
            <a href="http://www.yangfenzi.com" target="_blank" rel="nofollow">氧分子</a>
                        
            <a href="http://www.ms315.com" target="_blank" rel="nofollow">美术高考网</a>
                        
            <a href="http://www.cz365.com" target="_blank" rel="nofollow">郴州招聘网</a>
                        
            <a href="http://www.uedfans.cn" target="_blank" rel="nofollow">UED网址导航</a>
                        
            <a href="http://www.managershare.com" target="_blank" rel="nofollow">经理人分享</a>
                        
            <a href="http://chengdu.mop.com" target="_blank" rel="nofollow">猫扑成都</a>
                        
            <a href="http://www.analysys.cn" target="_blank" rel="nofollow">易观智库</a>
                        
            <a href="http://ismartdata.com" target="_blank" rel="nofollow">智数营</a>
                        
            <a href="http://dataunion.org" target="_blank" rel="nofollow">数盟社区</a>
                        
            <a href="http://www.webppd.com" target="_blank" rel="nofollow">WebPPD</a>
                        
            <a href="http://www.upyun.com" target="_blank" rel="nofollow">UPYUN</a>
                        
            <a href="http://tech.163.com" target="_blank" rel="nofollow">网易科技</a>
                        
            <a href="http://www.kuailiyu.com" target="_blank" rel="nofollow">快鲤鱼</a>
                        
            <a href="http://www.iheima.com" target="_blank" rel="nofollow">i黑马</a>
                        
            <a href="http://game.donews.com" target="_blank" rel="nofollow">DONEWS游戏</a>
                        
            <a href="http://www.techxue.com" target="_blank" rel="nofollow">互联网分析沙龙</a>
                        
            <a href="http://www.chinaz.com" target="_blank" rel="nofollow">站长之家</a>
                        
            <a href="http://tech.gmw.cn" target="_blank" rel="nofollow">光明网科技</a>
                        
           <a href="http://zgkjzx.com" target="_blank" rel="nofollow">中国科技在线</a>
                        
            <a href="http://www.huodongxing.com" target="_blank" rel="nofollow">活动行</a>
                        
            <a href="http://www.php-z.com" target="_blank" rel="nofollow">PHP站中文网</a>
                        
            <a href="http://www.lagou.com" target="_blank" rel="nofollow">互联网招聘</a>
                        
            <a href="http://www.iaxure.com" target="_blank" rel="nofollow">Axure教程</a>
                        
            <a href="http://123.sogou.com" target="_blank" rel="nofollow">搜狗网址导航</a>
                        
            <a href="http://www.jiajiao114.com" target="_blank" rel="nofollow">家教网</a>
                        
            <a href="http://www.hhk365.com" target="_blank" rel="nofollow">东营招聘网</a>
                        
            <a href="http://www.faisco.com" target="_blank" rel="nofollow">凡科网</a>
                        
            <a href="http://www.texhr.cn" target="_blank" rel="nofollow">纺织人才网</a>
                        
            <a href="http://www.pmtoo.com" target="_blank" rel="nofollow">产品中国</a>
                        
            <a href="http://zu.sh.soufun.com" target="_blank" rel="nofollow">搜房租房</a>
                        
            <a href="http://www.dijiuke.com" target="_blank" rel="nofollow">第9课堂</a>
                        
            <a href="http://www.haitao.cn" target="_blank" rel="nofollow">CN海淘网</a>
                        
            <a href="http://www.jq-school.com" target="_blank" rel="nofollow">JQ学校</a>
                        
            <a href="http://www.xueba100.com" target="_blank" rel="nofollow">学霸君</a>
                        
            <a href="http://www.phonecai.com" target="_blank" rel="nofollow">锋彩网</a>
                        
            <a href="http://www.huodongxing.com" target="_blank" rel="nofollow">活动行</a>
                        
            <a href="http://www.yingsheng.com" target="_blank" rel="nofollow">在线教育</a>
                        
            <a href="http://www.html5dw.com" target="_blank" rel="nofollow">html5梦工厂</a>
                        
            <a href="http://www.meitu.com" target="_blank" rel="nofollow">美图公司</a>
                        
            <a href="http://iwebad.com" target="_blank" rel="nofollow">网络广告人社区</a>
                        
            <a href="http://www.ui.cn" target="_blank" rel="nofollow">UI中国</a>
                        
            <a href="http://www.518lunwen.cn" target="_blank" rel="nofollow">论文发表网</a>
                        
            <a href="http://w3cshare.com" target="_blank" rel="nofollow">W3Cshare</a>
                        
            <a href="http://www.marklol.com" target="_blank" rel="nofollow">马克互联网</a>
                        
            <a href="http://www.sykong.com" target="_blank" rel="nofollow">手游那点事</a>
                        
            <a href="http://www.zhuqu.com" target="_blank" rel="nofollow">住趣家居网</a>
                        
            <a href="http://www.tuquu.com" target="_blank" rel="nofollow">图趣网</a>
                        
            <a href="http://www.ui63.com" target="_blank" rel="nofollow">UI设计</a>
                        
            <a href="http://www.golangtc.com" target="_blank" rel="nofollow">Golang中国</a>
                        
            <a href="http://www.imooc.com" target="_blank" rel="nofollow">慕课网</a>
                        
            <a href="http://oupeng.com" target="_blank" rel="nofollow">欧朋浏览器</a>
                        
            <a href="http://www.w3cplus.com" target="_blank" rel="nofollow">W3CPlus</a>
                        
            <a href="http://www.ucloud.cn" target="_blank" rel="nofollow">UCloud</a>
                        
            <a href="http://www.eoeandroid.com" target="_blank" rel="nofollow">安卓开发论坛</a>
                        
            <a href="http://www.shichangbu.com" target="_blank" rel="nofollow">市场部网</a>
                        
            <a href="http://www.xunue.com" target="_blank" rel="nofollow">UI设计</a>
                        
            <a href="http://www.mobiletrain.org" target="_blank" rel="nofollow">千锋iOS培训</a>
                        
            <a href="http://sendcloud.sohu.com" target="_blank" rel="nofollow">sendcloud</a>
                        
            <a href="http://oneapm.com" target="_blank" rel="nofollow">OneAPM</a>

             <a href="http://www.lanou3g.com" target="_blank" rel="nofollow">蓝鸥科技</a>
                        
            <a href="http://www.thinksaas.cn" target="_blank" rel="nofollow">ThinkSAAS开源社区</a>

            <a href="http://www.cocoachina.com" target="_blank" rel="nofollow">CocoaChina中文站</a>
 
		</div>
	</div>

		<div class="bottom">
		<div class="center">
			<div class="weixin">
				<img src="../../../static/website/image/index_07.png" alt="关注微信">
				<p>扫一扫关注我们</p>
			</div>
			<div class="weibo">
				<img src="../../../static/website/image/weibo.png" alt="关注微博">
				<p>关注我们的微博</p>
			</div>
			<div class="service_telephone">
				<i class="iconfont icon-dianhua"></i>
				<em>客服电话</em>
				<strong>400-666-4846</strong>
			</div>
			<div class="friend_link">
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#" class="clear_rborder">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
				<a href="#">电商招聘</a>
			</div>
			<div class="bottom_menu">
				<div class="bottom_menu_list">
					<a href="#">关于我们</a>
					<a href="#">使用帮助</a>
					<a href="#">用户协议</a>
					<a href="#">友情链接</a>
					<a href="#">知识广场</a>
				</div>
				<p>赣ICP备15005704号 Powered by 2015-2025 北京怀才当遇网络科技有限公司 版权所有</p>
			</div>
		</div>
	</div>

	
	
</body>
	<script src="../../../static/website/js/page/system/user_ag.wmin.js"></script>
</html>