@import url(http://at.alicdn.com/t/font_1462788530_9455166.css);@charset "UTF-8";
@import url(http://at.alicdn.com/t/font_1462788530_9455166.css);
* {
  box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1.5 "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", \5b8b\4f53, sans-serif; }

body {
  width: 100%;
  width: expression(document.body.clientWidth <= 1200? "1200px":"auto");
  min-width: 1200px; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

em, i {
  font-style: normal; }

a, a:link, a:visited, a:hover, a:active, input, textarea, :focus {
  outline: 0; }

textarea {
  padding: 10px; }

img, iframe {
  border: none;
  text-decoration: none; }

li {
  list-style-type: none; }

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.clearfix:after {
  *zoom: 1;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.center {
  width: 1200px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.hide {
  display: none; }

.height_auto {
  height: initial !important;
  height: auto !important; }

/*initial colors*/
/*主要内容01*/
/*主要内容02*/
/*弱化的文字*/
/*提示文字*/
/*醒目突出文字*/
/*链接字体颜色*/
/*数字文本颜色*/
/*边框颜色*/
/*边框颜色*/
.nc01 {
  color: #ff6b12; }

.nc02 {
  color: #333; }

::-moz-placeholder {
  color: #c8c8c8; }

::-webkit-input-placeholder {
  color: #c8c8c8; }

:-ms-input-placeholder {
  color: #c8c8c8; }

a {
  color: #333; }

a.link_01,
a.link_01:link,
a.link_01:visited {
  color: #007eb2; }

a.link_01:hover,
a.link_01:active {
  color: #007eb2;
  text-decoration: underline; }

a.link_02,
a.link_02:link,
a.link_02:visited {
  color: #333; }

a.link_02:hover,
a.link_02:active {
  color: #007eb2; }

/*box-shadow*/
.table {
  display: table; }
  .table > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .table > .tal {
    text-align: left; }
  .table > .tar {
    text-align: right; }
  .table > .vat {
    vertical-align: top; }
  .table > .vab {
    vertical-align: bottom; }

.moudle_shadow {
  -moz-box-shadow: 0px 1px 3px 0px #e0dddd;
  -webkit-box-shadow: 0px 1px 3px 0px #e0dddd;
  -ms-box-shadow: 0px 1px 3px 0px #e0dddd;
  -o-box-shadow: 0px 1px 3px 0px #e0dddd;
  box-shadow: 0px 1px 3px 0px #e0dddd; }

.rotate180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.top1 {
  background-color: #008cbf;
  height: 70px; }
  .top1 .logo {
    float: left;
    margin-top: 17px;
    width: 116px;
    height: 36px; }
  .top1 .login_box, .top1 .reg_box {
    float: right;
    display: none;
    margin-top: 20px; }
    .top1 .login_box a, .top1 .reg_box a {
      color: #fff;
      margin-left: 20px; }
      .top1 .login_box a i, .top1 .login_box a img, .top1 .reg_box a i, .top1 .reg_box a img {
        margin-right: 8px; }
      .top1 .login_box a i, .top1 .reg_box a i {
        font-size: 18px;
        vertical-align: 0px; }
    .top1 .login_box *, .top1 .reg_box * {
      vertical-align: middle; }
    .top1 .login_box.active, .top1 .reg_box.active {
      display: none; }

span.level {
  background: url(../../image/level.png) no-repeat;
  width: 36px;
  height: 19px;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  display: inline-block; }

.paging_box {
  text-align: center; }
  .paging_box a, .paging_box span {
    height: 36px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    line-height: 36px;
    color: #777;
    margin: 0 5px;
    font-size: 16px; }
  .paging_box a {
    padding: 0 15px; }
  .paging_box span {
    padding: 0 8px; }
  .paging_box a:hover, .paging_box a.active, .paging_box span:hover, .paging_box span.active {
    background-color: #00baff;
    color: #fff;
    cursor: pointer; }

.hhnt_login_reg_box {
  height: 30px;
  line-height: 30px;
  background-color: #27292a;
  color: #fff;
  width: 100%; }
  .hhnt_login_reg_box .hhnt_login_reg {
    float: right;
    line-height: 27px;
    height: 30px; }
  .hhnt_login_reg_box a {
    color: #fff; }
  .hhnt_login_reg_box i {
    margin-right: 6px;
    font-size: 22px;
    vertical-align: -5px; }
  .hhnt_login_reg_box * {
    vertical-align: middle; }
  .hhnt_login_reg_box .hhnt_login {
    margin-right: 18px;
    padding-right: 18px;
    vertical-align: -1px; }

.menu_top_box {
  background-color: #008fc3;
  height: 70px;
  color: #fff;
  font-size: 0; }
  .menu_top_box .logo {
    float: left;
    width: 116px;
    height: 36px;
    margin-top: 17px;
    cursor: pointer; }
  .menu_top_box .menu_box {
    position: relative;
    float: left;
    margin-left: 80px;
    height: 100%; }
    .menu_top_box .menu_box > li {
      display: inline-block; }
      .menu_top_box .menu_box > li:hover > a,
      .menu_top_box .menu_box > li.active > a {
        border-top: 2px solid #fff;
        border-top: 2px solid rgba(255, 255, 255, 0.86);
        background-color: rgba(0, 0, 0, 0.1);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000); }
      .menu_top_box .menu_box > li.menu_box_more:hover > ul {
        display: block; }
    .menu_top_box .menu_box > li > a {
      height: 70px;
      line-height: 70px;
      float: left;
      color: #fff;
      padding: 0 20px;
      font-size: 18px;
      border-top: 2px solid transparent; }
    .menu_top_box .menu_box > li > ul {
      position: absolute;
      z-index: 2;
      width: auto;
      left: 0;
      top: 70px;
      background-color: #fff;
      border-radius: 3px;
      display: none;
      height: 54px;
      line-height: 54px;
      white-space: nowrap;
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
      .menu_top_box .menu_box > li > ul:before {
        content: "";
        position: absolute;
        top: -14px;
        left: 124px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent #fff transparent; }
      .menu_top_box .menu_box > li > ul li {
        display: inline-block; }
        .menu_top_box .menu_box > li > ul li a {
          color: #333;
          font-size: 14px;
          border-left: 1px solid #bababa;
          padding: 0 20px; }
          .menu_top_box .menu_box > li > ul li a:hover {
            color: #007eb2; }
        .menu_top_box .menu_box > li > ul li a.last {
          border-right: 0; }
        .menu_top_box .menu_box > li > ul li:first-child > a {
          border-left: none; }

.hhnt_reg {
  vertical-align: -1px; }

.hhnt_reg:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background: #fff;
  position: relative;
  top: 3px;
  left: -18px;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.bottom {
  background: #333;
  padding-top: 50px;
  padding-bottom: 30px; }
  .bottom .service_telephone {
    color: #e2e2e2; }
    .bottom .service_telephone * {
      vertical-align: middle; }
    .bottom .service_telephone i {
      font-size: 34px;
      margin-right: 10px;
      vertical-align: -11px; }
    .bottom .service_telephone em {
      font-size: 22px;
      margin-right: 15px; }
    .bottom .service_telephone strong {
      font-size: 40px;
      font-weight: normal;
      font-family: Arial;
      color: #fff; }
  .bottom .friend_link {
    margin-top: 50px;
    width: 815px; }
    .bottom .friend_link a {
      color: #adadad;
      padding-right: 20px;
      margin-right: 20px;
      display: inline-block;
      height: 15px;
      line-height: 15px;
      font-size: 14px;
      border-right: 1px solid #5c5c5c;
      margin-bottom: 10px; }
      .bottom .friend_link a:hover {
        text-decoration: underline; }
    .bottom .friend_link a.clear_rborder {
      border-right: 0; }
  .bottom .weibo, .bottom .weixin {
    float: right;
    color: #adadad;
    text-align: center; }
    .bottom .weibo p, .bottom .weixin p {
      margin-top: 10px;
      font-size: 14px; }
  .bottom .weibo {
    padding-top: 40px;
    margin-right: 40px; }
  .bottom .bottom_menu {
    border-top: 1px solid #474747;
    margin-top: 35px;
    padding-top: 30px;
    text-align: center;
    color: #adadad;
    font-size: 14px; }
    .bottom .bottom_menu .bottom_menu_list a {
      color: #adadad;
      padding-left: 20px;
      margin-right: 20px;
      display: inline-block;
      height: 15px;
      line-height: 15px;
      font-size: 14px;
      border-left: 1px solid #5c5c5c;
      margin-bottom: 10px; }
      .bottom .bottom_menu .bottom_menu_list a:hover {
        text-decoration: underline; }
      .bottom .bottom_menu .bottom_menu_list a:first-child {
        border-left: none; }

.pagination_group {
  text-align: center;
  font-size: 0;
  margin: 0 20px;
  padding: 40px 0;
  border-top: 1px solid #d9d9d9; }
  .pagination_group ul {
    display: inline-block;
    vertical-align: top; }
    .pagination_group ul li {
      float: left;
      margin: 0 5px;
      width: 34px;
      font-size: 14px;
      height: 34px;
      line-height: 34px; }
      .pagination_group ul li a {
        height: 34px;
        display: block;
        border: 1px solid #d9d9d9;
        color: #777;
        -moz-transition: background-color 0.15s ease-out, color 0.15s ease-out;
        -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out;
        -ms-transition: background-color 0.15s ease-out, color 0.15s ease-out;
        -o-transition: background-color 0.15s ease-out, color 0.15s ease-out;
        transition: background-color 0.15s ease-out, color 0.15s ease-out; }
      .pagination_group ul li.active > a,
      .pagination_group ul li:hover > a {
        border-color: #00baff;
        background-color: #00baff;
        color: #fff; }
    .pagination_group ul .prev_page,
    .pagination_group ul .next_page {
      width: 82px; }
    .pagination_group ul .ellipsis {
      letter-spacing: 5px;
      padding-left: 5px; }
  .pagination_group div {
    display: inline-block;
    font-size: 14px;
    line-height: 34px;
    vertical-align: top;
    color: #777;
    margin-left: 20px; }
    .pagination_group div input {
      height: 34px;
      font-size: 14px; }
    .pagination_group div input[type="text"] {
      width: 34px;
      border: 1px solid #d9d9d9;
      vertical-align: top;
      text-align: center;
      color: #777; }
    .pagination_group div input[type="button"] {
      width: 68px;
      border: 1px solid #00baff;
      background-color: #fff;
      color: #777;
      border-radius: 3px;
      margin-left: 10px;
      cursor: pointer;
      -moz-transition: background-color 0.15s ease-out, color 0.15s ease-out;
      -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out;
      -ms-transition: background-color 0.15s ease-out, color 0.15s ease-out;
      -o-transition: background-color 0.15s ease-out, color 0.15s ease-out;
      transition: background-color 0.15s ease-out, color 0.15s ease-out; }
      .pagination_group div input[type="button"]:hover {
        background-color: #00baff;
        color: #fff; }

/* 搜索模块 start */
.search_wrap {
  margin-top: 16px;
  margin-bottom: 16px;
  background: #fff url(../../image/common/searchBarBg.png) no-repeat;
  background-position: 661px 19px;
  border: 1px solid #f6f6f6;
  border-bottom: none; }

.search_input {
  /*搜索输入框*/
  position: relative;
  display: inline-block;
  width: 620px;
  /*可直接修改数值来调节搜索框长度*/
  border: 2px solid #00d3ff;
  border-radius: 3px; }
  .search_input input[type="text"] {
    border: none;
    width: 100%;
    height: 46px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 118px;
    vertical-align: top; }
  .search_input > a {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 110px;
    height: 46px;
    background: #00d3ff;
    color: #fff;
    text-align: center;
    cursor: pointer; }
    .search_input > a > i {
      font-size: 30px; }
  .search_input:hover {
    border-color: #00baff; }
    .search_input:hover > a {
      background-color: #00baff; }
    .search_input:hover .search_show {
      border-color: #00baff; }
  .search_input .search_show {
    position: absolute;
    z-index: 1;
    left: -2px;
    right: -2px;
    color: #333;
    border: 2px solid #00d3dd;
    background-color: #fff;
    font-size: 16px;
    display: none; }
    .search_input .search_show > .table {
      width: 100%; }
      .search_input .search_show > .table > div {
        border-right: 1px dashed #d9d9d9;
        padding: 5px; }
        .search_input .search_show > .table > div > ul > li {
          text-align: right;
          line-height: 30px;
          padding: 0 10px 0 15px;
          cursor: pointer; }
          .search_input .search_show > .table > div > ul > li.active {
            background-color: #f9f9f9; }
          .search_input .search_show > .table > div > ul > li > span > span {
            color: #ff6b12; }
          .search_input .search_show > .table > div > ul > li > span:first-child {
            float: left; }
      .search_input .search_show > .table > span {
        width: 64px;
        color: #a6a6a6;
        background-color: #fcfcfc; }
    .search_input .search_show > .table:first-child {
      border-bottom: 1px dashed #d9d9d9; }

.search_wrap .search_input {
  margin: 30px 0 30px 20px; }

/* 搜索模块 end */
.filter_module {
  width: 100%;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 0 20px; }
  .filter_module a {
    position: relative;
    padding: 4px 12px;
    background-color: #fff;
    color: #777;
    border-radius: 3px;
    margin-right: 2px; }
  .filter_module a.active,
  .filter_module a:hover {
    background-color: #00baff;
    color: #fff; }
  .filter_module a.active > i {
    position: absolute;
    z-index: 1;
    border-width: 8px 7px;
    border-style: solid;
    border-color: transparent transparent #00baff transparent;
    left: 50%;
    margin-left: -6px;
    top: 22px; }
    .filter_module a.active > i:before {
      content: "";
      position: absolute;
      border-width: 8px 7px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
      top: -7px;
      left: -7px; }
  .filter_module > div {
    border-top: 1px dashed #e6e6e6; }
    .filter_module > div:first-child {
      border-top: none; }
    .filter_module > div .fm_name {
      font-size: 16px;
      line-height: 50px;
      color: #333; }
  .filter_module .item_detail {
    position: relative;
    width: 100%;
    border: 1px solid #00baff;
    padding: 10px 0 10px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin: 10px 0;
    display: none; }

.fm_industry,
.fm_city,
.common_item {
  display: inline-block;
  width: 960px;
  margin-top: 12px;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  overflow: hidden; }
  .fm_industry > div,
  .fm_city > div,
  .common_item > div {
    margin-bottom: 3px; }

.for_more {
  position: relative;
  float: right;
  line-height: 50px;
  font-size: 14px;
  color: #007eb2;
  padding-right: 20px;
  cursor: pointer; }
  .for_more > i {
    position: absolute;
    top: 22px;
    right: 4px;
    border-width: 6px 6px 0;
    border-style: solid;
    border-color: #ababab transparent transparent;
    -moz-transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out; }

.fm_type_01,
.fm_type_02,
.fm_type_03,
.fm_type_04 {
  position: relative; }
  .fm_type_01 > .show_temp,
  .fm_type_02 > .show_temp,
  .fm_type_03 > .show_temp,
  .fm_type_04 > .show_temp {
    position: absolute;
    top: 10px;
    right: 57px;
    font-size: 14px; }

.fm_type_01 .show_temp {
  right: 225px; }

.fm_type_02 .show_temp,
.fm_type_03 .show_temp {
  right: 567px; }

.city_item > span {
  display: inline-block;
  width: 54px;
  color: #777; }

body {
  background-color: #f9f9f8; }

.company_search_box {
  background-image: url(../../image/search_bg.jpg); }

.hhnt_content {
  box-shadow: 0 0 6px #eee;
  margin-top: 12px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px; }
  .hhnt_content .adv_search_box {
    border: 1px solid #e6e6e6;
    padding: 20px;
    line-height: 33px; }
    .hhnt_content .adv_search_box li label {
      color: #333;
      font-size: 16px; }
    .hhnt_content .adv_search_box li a {
      font-size: 14px;
      color: #777;
      margin-right: 20px;
      padding: 3px 10px;
      border-radius: 5px; }
      .hhnt_content .adv_search_box li a:hover, .hhnt_content .adv_search_box li a.active {
        background-color: #00baff;
        color: #fff; }
    .hhnt_content .adv_search_box li span.more {
      float: right;
      color: #007eb2;
      cursor: pointer; }
    .hhnt_content .adv_search_box li i {
      color: #bbb;
      font-size: 12px;
      margin-left: 10px; }
  .hhnt_content .search_list_box {
    margin-top: 20px;
    border: 1px solid #e6e6e6; }
    .hhnt_content .search_list_box .search_typeAndOrder {
      height: 50px;
      border-bottom: 1px solid #e6e6e6;
      line-height: 49px;
      font-size: 16px;
      background-color: #fcfcfc;
      color: #333; }
      .hhnt_content .search_list_box .search_typeAndOrder .title {
        float: left;
        width: 185px;
        text-align: center; }
        .hhnt_content .search_list_box .search_typeAndOrder .title em {
          color: #ff6b12;
          font-size: 18px;
          margin: 0 5px;
          vertical-align: -1px; }
      .hhnt_content .search_list_box .search_typeAndOrder .list {
        float: left; }
        .hhnt_content .search_list_box .search_typeAndOrder .list li {
          float: left;
          border-left: 1px solid #e6e6e6;
          border-top: 2px solid transparent;
          padding: 0 15px;
          font-size: 14px;
          margin-top: -1px;
          color: #777; }
        .hhnt_content .search_list_box .search_typeAndOrder .list li.last {
          border-right: 1px solid #e6e6e6; }
        .hhnt_content .search_list_box .search_typeAndOrder .list li.active,
        .hhnt_content .search_list_box .search_typeAndOrder .list li:hover {
          border-top: 2px solid #00baff;
          color: #007eb2;
          line-height: 49px;
          cursor: pointer; }
      .hhnt_content .search_list_box .search_typeAndOrder .flip_box {
        float: right; }
        .hhnt_content .search_list_box .search_typeAndOrder .flip_box em {
          color: #ff6b12; }
        .hhnt_content .search_list_box .search_typeAndOrder .flip_box i {
          margin: 0 20px;
          cursor: pointer; }
    .hhnt_content .search_list_box .search_list ul {
      border-top: 0; }
      .hhnt_content .search_list_box .search_list ul li {
        overflow: hidden;
        padding: 0 20px; }
        .hhnt_content .search_list_box .search_list ul li > div {
          border-bottom: 1px solid #e6e6e6; }
        .hhnt_content .search_list_box .search_list ul li .l,
        .hhnt_content .search_list_box .search_list ul li .c,
        .hhnt_content .search_list_box .search_list ul li .r {
          float: left; }
        .hhnt_content .search_list_box .search_list ul li .l {
          position: relative; }
          .hhnt_content .search_list_box .search_list ul li .l p {
            font-size: 16px;
            margin-top: 10px;
            color: #333; }
          .hhnt_content .search_list_box .search_list ul li .l img {
            border-radius: 50%;
            border: 3px solid #fff;
            box-shadow: 0 0 10px #dcd9ce;
            width: 100px;
            height: 100px; }
          .hhnt_content .search_list_box .search_list ul li .l span.v {
            width: 20px;
            height: 20px;
            border: 3px solid #fff;
            background: #ffae11;
            text-align: center;
            line-height: 10px;
            color: #fff;
            position: absolute;
            top: 80px;
            border-radius: 50%;
            right: 10px; }
        .hhnt_content .search_list_box .search_list ul li .r {
          margin-left: 50px;
          margin-top: 32px;
          font-size: 14px;
          color: #777; }
          .hhnt_content .search_list_box .search_list ul li .r span {
            font-size: 36px; }
          .hhnt_content .search_list_box .search_list ul li .r em {
            font-size: 16px; }
          .hhnt_content .search_list_box .search_list ul li .r span,
          .hhnt_content .search_list_box .search_list ul li .r em {
            vertical-align: -1px;
            color: #ff6b12; }
          .hhnt_content .search_list_box .search_list ul li .r .r_t {
            margin-bottom: 26px; }
          .hhnt_content .search_list_box .search_list ul li .r div .rate {
            vertical-align: -8px; }
        .hhnt_content .search_list_box .search_list ul li .r1 {
          float: right;
          margin-top: 37px;
          margin-right: 20px;
          color: #333; }
          .hhnt_content .search_list_box .search_list ul li .r1 .t {
            font-size: 20px; }
            .hhnt_content .search_list_box .search_list ul li .r1 .t i {
              font-size: 30px;
              color: #ffae11;
              vertical-align: middle;
              margin-right: 10px; }
          .hhnt_content .search_list_box .search_list ul li .r1 .b {
            font-size: 14px;
            margin-top: 12px;
            text-align: right; }
            .hhnt_content .search_list_box .search_list ul li .r1 .b a {
              display: inline-block;
              width: 84px;
              height: 34px;
              line-height: 31px;
              border: 1px solid #00baff;
              text-align: center;
              border-radius: 3px;
              margin-left: 20px;
              color: #333; }
              .hhnt_content .search_list_box .search_list ul li .r1 .b a:hover {
                background-color: #00baff;
                color: #fff; }
                .hhnt_content .search_list_box .search_list ul li .r1 .b a:hover em {
                  color: #fff; }
              .hhnt_content .search_list_box .search_list ul li .r1 .b a em {
                color: #00baff;
                margin-right: 5px; }
        .hhnt_content .search_list_box .search_list ul li .c {
          width: 333px;
          margin-top: 42px;
          margin-left: 40px;
          font-size: 14px;
          line-height: 26px;
          border-right: 1px solid #e6e6e6;
          color: #777; }
          .hhnt_content .search_list_box .search_list ul li .c .t {
            font-size: 16px; }
            .hhnt_content .search_list_box .search_list ul li .c .t strong {
              margin-right: 20px;
              color: #333;
              font-size: 20px; }
          .hhnt_content .search_list_box .search_list ul li .c p {
            margin-top: 10px; }
          .hhnt_content .search_list_box .search_list ul li .c .b {
            font-size: 14px;
            margin-top: 13px;
            line-height: 1; }
            .hhnt_content .search_list_box .search_list ul li .c .b em {
              color: #ff6b12;
              font-size: 16px; }
          .hhnt_content .search_list_box .search_list ul li .c span.level {
            margin-left: 18px;
            vertical-align: 1px; }
        .hhnt_content .search_list_box .search_list ul li:hover {
          background-color: #fdfdfd; }
      .hhnt_content .search_list_box .search_list ul .l {
        width: 110px;
        text-align: center;
        margin-left: 15px;
        margin-top: 40px;
        margin-bottom: 40px; }
    .hhnt_content .search_list_box .paging_dd {
      margin-top: 40px;
      margin-bottom: 40px; }

.search_list_box .pagination_group {
  border-top: none; }

/*# sourceMappingURL=companyConsulting.css.map*/