@import "../common/reset";
/* @import "modules/webSiteHeader"; */

.menu_top_box{
	     height: 80px;
	     margin-left: 340px;
	     background-color: #fff;
	   &>img{
	   display: inline-block;
	   float: left;
	   margin-top: 20px;
	   }
	   &>ul{
	  
	    margin-left: 60px;
	   	display: inline-block;
	   	&>li{
	   		float: left;
      
	   		&>a{
	   			font-size: 18px;
               color: #333333;
               line-height: 80px;
               padding: 0 20px;
               height: 80px;
               display: inline-block;
               cursor: pointer;
               &:hover{
               	color: #007eb2;
               
               }
	   		}

	   	}
	   	.menu_box_more{
	   		position: relative;
	   		&>ul{ 
	   			width: 750px;
	   			height:auto;
	   			line-height: 54px;
	   			position: absolute;
	   			left: -100px;
	   			background-color: #fff;
	   			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	   			border-radius: 3px;
	   			display: none;
	   			&>li{
	   				float: left;
	   				&>a{
	   					font-size: 14px;
	   					color: #333333;
	   					padding: 0px 20px;
	   					cursor: pointer;
	   					&:hover{
	   						color: #007eb2;
	   					}
	   				}
	   			}
	   			&::before{

                content: "";
			    position: absolute;
			    top: -16px;
			    left: 140px;
			    border-width: 8px;
			    border-style: solid;
			    border-color: transparent transparent #ccc transparent;

	   		}
	   		  &::after{
                content: "";
			    position: absolute;
			    top: -15px;
			    left: 140px;
			    border-width: 8px;
			    border-style: solid;
			    border-color: transparent transparent #fff transparent;
			
	   		} 
	   		} 

	   		
	   	}
	   }
}


.login{
	width:100%;
	min-width: 1200px;
	height:600px;
	background:url(../../image/dlzcbanner.jpg) no-repeat ;
	background-size:cover;
	padding-top: 120px;
	.login_content{
		width: 400px;
		height: 362px;
		background: #fff;		
		margin-left:59%;
		border-radius: 3px;
		border-shadow:0px 2px 10px black;
		.login_data{
			padding:24px 30px 30px 30px;
			p{
				color: #333333;
				font-size: 18px;
				margin-bottom: 24px;
				&>span{
					float: right;
					color: #777777;
					font-size: 14px;
                   
					a{
						color: #ff6b12;
						font-size: 12px;
					}
				}
			}
			form{
				margin-bottom: 18px;
				.txt{
					width: 340px;
					height: 44px;
					/* border:1px solid black; */
					position: relative;
					margin-bottom: 16px;

					.logo_user{
						width: 44px;
						height: 44px;
						background: #f9f9f9;
						text-align: center;
						line-height: 40px;						
						position: absolute;
						border: 1px solid #d9d9d9;
						.icon-zhanghu2{
							font-size: 26px;
							color: #c8c8c8;
						}
						.icon-mima{
							font-size: 26px;
							color: #c8c8c8;

						}
					}
						input{
							width: 340px;
							height: 44px;
							border: 1px solid #d9d9d9;
							text-indent: 60px;
							font-size: 14px;
							color: #333333;
							
					}
					.tip{
						position: absolute;
						top: 14px;
						right: 30px;
						color: red;
						display: none;
					}
					.del{
						position: absolute;
						top: 10px;
						right: 10px;
						display: none;
						cursor: pointer;
					}

				}
			}
			.remeber{
				font-size: 14px;
				color: #333333;
				margin-bottom: 20px;

				.rem_select{
					width: 17px;
					height: 17px;
					display: inline-block;
					position: relative;
					border-radius: 3px;
					border:1px solid #d9d9d9;
					float: left;
				    margin-top: 2px;
					input[type="checkbox"]{
					width: 17px;
					height: 17px;			
					position: absolute;
					border-radius: 3px;
					cursor: pointer;
					opacity: 0;
					z-index: 999;
				}
				.icon-xuanzhong {
					position: absolute;
					top: -7px;
					left: -1px;
					font-size: 18px;
					display: none;
					color: #00baff;
				}
				}
				
				&>a{
                    float: right;
                    color: #007eb2;
				}
			}
			.login_btn{
				width: 340px;
				height: 44px;
				color: white;
				text-align: center;
				line-height: 44px;
				font-weight: bolder;
				border: none;
				font-size: 18px;
				border-radius: 3px;
				background: url(../../image/btn_lg.png) repeat-x;
				cursor: pointer;
				margin-bottom: 24px;
			}
			.other_method{
				font-size: 14px;
				&>span{
					margin-right: 130px;
					&>a{
					width: 20px;
					height: 20px;
					display: inline-block;
					margin-left: 6px;			
				}
				}
				
				#qq{
					background: url(../../image/logo_qq.png);
				}
				#wx{
					background: url(../../image/logo_wx.png);
				}
				#wb{
					background: url(../../image/logo_wb.png);
				}
			}
		}
	}
}
.footer{
	width: 100%;
	margin-top: 30px;
	ul{
		width: 504px;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		li{
			float: left;
			
			
			a{
				color: #333333;
				font-size: 14px;
				padding: 0 20px;
				border-left: 1px solid #ccc;
			}
		}
		li:first-child{
			a{
				border-left: none;
			}
			
		}
	}
	p{
		font-size: 14px;
		color: #777777;
		text-align: center;
		margin-top: 12px;
	}
}